<% content_for :head do %>
<% end %>

<%=render partial: 'memorial/shared/memorial_top'%>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>

  <p class="description"></p>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<!-- Container Part -->
<div class="container content-sm memorial-photos">
  <div class="headline-center margin-bottom-40">
    <h2>
      Fotos
      <% if policy(@memorial).edit? %>
          <a href="<%= admin_memorial_photos_path(memorial_id: @memorial.id) %>" class="btn btn-default">Editar</a>
      <% end %>
    </h2>

    <div id="links">
      <div class="row">
      <% @memorial.memorial_photos.each do |memorial_photo| %>

          <div class="col-md-3">
            <div class="thumbnails thumbnail-style">
              <a href="<%= memorial_photo.image.public_url(:image_optimized) %>" title="<%= memorial_photo.mmry_phto_title %>" data-description="<%= memorial_photo.mmry_phto_description %>" class="fancybox">
                <img src="<%= memorial_photo.image.public_url(:thumb) %>" class="img-rounded img-center" alt="<%= memorial_photo.mmry_phto_title %>">
              </a>

              <div class="caption">
                <h3 title="<%=h memorial_photo.mmry_phto_title%>"><%=h truncate memorial_photo.mmry_phto_title, :length   => 20, :separator => /\w/,
                                 :omission => "..." %></h3>

                <p title="<%=h memorial_photo.mmry_phto_description%>"><%= truncate memorial_photo.mmry_phto_description, :length   => 50, :separator => /\w/,
                                :omission => "..." %></p>
              </div>
            </div>
          </div>
      <% end %>
        </div>
    </div>
  </div>
</div>
<script language="JavaScript" defer>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {
                    index: link,
                    event: event,
                    container: '#blueimp-gallery',
                    carousel: false,
                    stretchImages: false,
                    onslide: function (index, slide) {
                        var text = this.list[index].getAttribute('data-description'),
                                node = this.container.find('.description');
                        node.empty();
                        if (text) {
                            node[0].appendChild(document.createTextNode(text));
                        }
                    }
                },
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>
<!-- End Container Part -->