<!-- Interactive Slider -->
<div class="interactive-slider-v1 img-v3">
  <div class="container">
    <h2><%= @memorial.title %></h2>

    <p><%= l(@memorial.mmry_birth_date) %> - <%= l(@memorial.mmry_death_date) %>
      <%= "(#{distance_of_time_in_words(@memorial.mmry_birth_date, @memorial.mmry_death_date, highest_measure_only: true)})" %>
    </p>
  </div>
</div>
<% if flash[:notice] %>
    <div class="alert alert-info fade in">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-warning fade in">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <%= flash[:alert] %>
    </div>
<% end %>
<!-- End Interactive Slider -->