
<%= form_tag(upload_photo_admin_memorial_path(@memorial),
             multipart: true,
             id: 'my-awesome-dropzone',
             class: "dropzone",
    ) do |f| %>
    <input type="hidden" name="memorial[id]" value="<%= @memorial.id %>">

    <div class="fallback">
      <input name="file" type="file" multiple/>
    </div>
<% end %>
<div class="row">
  <% for photo in @memorial.memorial_photos do %>
      <div class="col-sm-4 admin-memorial-photos-thumb">
        <%=image_tag(photo.image.public_url('thumb')) %>
        <%=link_to'Remover' , remove_photo_admin_memorial_path(id: @memorial.id, memorial_photo_id: photo.id), method: :delete %>
      </div>
  <% end %>
</div>