<% content_for :javascript_script_end_page do %>
    <script language="JavaScript">
        $(document).ready(function () {
            var initial_form_state = $('#memorial_info_form_id').serialize().replace('&_wysihtml5_mode=1', '');
            initial_form_state = initial_form_state.replace(/authenticity_token=.+&memorial_memorial%5Bid%/, '&memorial_memorial');
            $('#memorial_info_form_id').submit(function () {
                initial_form_state = $('#memorial_info_form_id').serialize().replace('&_wysihtml5_mode=1', '');
                initial_form_state = initial_form_state.replace(/authenticity_token=.+&memorial_memorial%5Bid%/, '&memorial_memorial');
            });
            $(window).bind('beforeunload', function (e) {
                var form_state = $('#memorial_info_form_id').serialize().replace('&_wysihtml5_mode=1', '');
                form_state = form_state.replace(/authenticity_token=.+&memorial_memorial%5Bid%/, '&memorial_memorial');
                if (initial_form_state != form_state) {
                    var message = "Você tem dados não salvos nesta página. Você deseja deixar este página e perder os dados não salvos ou permanecer neste página?";
                    e.returnValue = message; // Cross-browser compatibility (src: MDN)
                    return message;
                }
            });
        });
    </script>
<% end %>
<% content_for :title, "#{@memorial.title}" %>
<% content_for :navbar do %>
    <li>
      <%= link_to admin_painel_path(memorial_id: @memorial.id) do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Biografia', edit_admin_memorial_path(@memorial.id), name: 'biography' %></li>
<% end %>
<div class="row">
  <div class="col-md-12">

    <fieldset>
      <legend>
        Biografia
      </legend>
      <%= simple_form_for(@memorial, url: admin_memorial_path(@memorial), html: {id: 'memorial_info_form_id', class: 'reg-page sky-form admin-memorial-form'}) do |f| %>
          <%= render partial: 'admin/memorials/form', locals: {f: f} %>

          <div class="row">
            <div class="col-lg-12 text-left">
              <button class="btn-u" type="submit">Atualizar</button>
              <% if !@memorial.deleted? %>
              <%= link_to "Remove", {action: "destroy", id: @memorial.id},
                          method: :delete, data: {confirm: "Você tem certeza?"}, class: 'btn-u btn-u-red' %>
                <% else %>
                <%= link_to "Restaurar", {action: "restore", id: @memorial.id},
                            method: :post, data: {confirm: "Você tem certeza?"}, class: 'btn-u btn-u-blue' %>
                <% end %>
            </div>
          </div>
      <% end %>
    </fieldset>
  </div>
</div>
