
<% content_for :javascript_script_end_page do %>
  <script>
      $( document ).ready(function() {
          $(".switch").bootstrapSwitch({
              animate: false
          });
          $(".switch").on('switchChange.bootstrapSwitch', function (event, state) {
              if (window.location.search != '?show_removed=' + state) {
                  window.location.href = '<%= admin_memorials_path %>?show_removed=' + state;
              }
          });
          $(".switch").bootstrapSwitch('state', <%=((params[:show_removed] == 'true') ? 'true' : 'false')%>, false);
      });
  </script>
<% end %>
<% content_for :title, 'Memorials - List' %>
<% content_for :navbar do %>
    <li class="active"><%= link_to 'Memoriais', admin_memorials_path %></li>
<% end %>
<div class="row">
  <div class="col-xs-6">
    <%= form_tag admin_memorials_path, :method => 'get' do %>
        <div class="input-group">
          <input type="text" name="search_str" value="<%= params[:search_str] %>" class="form-control" placeholder="Buscar ...">
						<span class="input-group-btn">
							<button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
						</span>
          <br />
        </div>
      <input type="checkbox" data-toggle="toggle" data-size="mini" data-on-text="MOSTRAR REMOVIDOS" data-off-text="OCULTAR REMOVIDOS" class="switch" id="id_show_removed">
    <% end %>
  </div>
</div>
<div class="pull-right">
  <%= link_to new_admin_memorial_path, class: 'btn btn-success' do %>

      <i class="fa fa-plus"></i> New Memorial

  <% end %>
</div>
<hr class="devider">
<% @memorials.each do |memorial| %>
    <div class="row blog blog-medium margin-bottom-40 admin-memorial-listing">
      <div class="col-md-3">
        <!--<%= image_tag 'no_image.svg', class: 'img-responsive' %>-->
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <% if memorial.photo.present? %>
                  <%= image_tag memorial.photo.public_url(:thumb), class: 'img-responsive' %>
              <% else %>
                  <%= image_tag 'no_image.svg', class: 'img-responsive' %>
              <% end %>
            </div>
            <a class="btn-more hover-effect" href="#" data-toggle="modal" data-target="#modalChangeMemorialMainPhoto">
              <span class="item">
                <i class="fa fa-upload"></i>
                Trocar foto
              </span></a>
          </div>
          <a class="btn-u btn-brd btn-brd-hover rounded btn-u-default" href="<%= url_for(troca_plano_admin_memorial_path(memorial)) %>">
            <i class="fa fa-bell-o"></i>
            Plano <%= memorial.current_memorial_plan.mmrl_plan_title %>
          </a>

        </div>
      </div>
      <div class="col-md-9">
        <h2><a href="#"><%= memorial.mmry_firstname + ' ' + memorial.mmry_lastname %></a></h2>
        <ul class="list-unstyled list-inline blog-info">
          <li><i class="fa fa-birthday-cake"></i> November 02, 2013</li>
          <li><i class="fa fa-hashtag"></i> November 02, 2013 (50 anos)</li>
          <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
        </ul>
        <p class="biography">
          <%= strip_tags(memorial.mmry_biografy) %>
        </p>

        <p>
          <%= link_to edit_admin_memorial_path(memorial), class: 'btn-u btn-u-sm' do
          %>
              <!--<a class="btn-u btn-u-sm" href="blog_item.html">-->
              Edit
              <i class="fa fa-angle-double-right margin-left-5"></i>
              <!--</a>-->
          <% end %>
          <% if memorial.deleted? %>
            <span class="color-red">
              Removido!
            </span>
          <% end %>

        </p>
      </div>
    </div>
<% end %>