<% content_for :title, 'Novo memorial' %>
<% content_for :navbar do %>
    <li>
      <%= link_to admin_painel_path(memorial_id:@memorial.id) do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li><%= link_to 'Memoriais', admin_memorials_path %></li>
    <li class="active"><%= link_to 'New', new_admin_memorial_path %></li>
<% end %>





<div class="row">
  <div class="col-md-12">
    <% # form_for(@memorial, url: admin_memorial_path, method: :put, html: {class: 'reg-page sky-form'})  %>
    <%= simple_form_for(@memorial, url: {controller: 'admin/memorials'}, html: {class: 'reg-page sky-form admin-memorial-form'}) do |f| %>
        <%=render partial: 'admin/memorials/form', locals: {f: f}%>

        <fieldset>
          <div class="row">
            <div class="col-lg-12 text-left">
              <button class="btn-u" type="submit">Inserir</button>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
