<%
   content_for :title, 'Login'
   content_for :navbar do
%>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Log in' %></li>
<%
   end
%>

<div class="row">
  <%= render partial: 'home/shared/sign_up' %>
  <%= render partial: 'home/shared/sign_in' %>
</div>