body{
	background: #eeeeee;
	font-family: "Roboto";
	padding-bottom: 100px;
}
.navbar-inverse{
	height: 60px;
	background: rgba(27, 27, 27, 0.85);
}
.navbar-nav>li>a,
.navbar-inverse .navbar-text{
	font-size: 13px;
	line-height: 29px;
	text-transform: uppercase;
	color: #fff;
}
.navbar-right{
	margin-right: 0;
	margin-left: 0;
}
.navbar-inverse .navbar-text a{
	color: #fff;
}
.navbar-inverse .navbar-text a:hover,
.navbar-inverse .navbar-text a:active,
.navbar-inverse .navbar-text a:visited{
	text-decoration: none;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
}
.navbar-inverse .navbar-nav>li>a:hover{
	border-bottom: 1px solid #fff;
}
.navbar-inverse .btn{
	border-radius: 5px;
	border: 0;
	float: right;
	margin-left: 20px;
}
.btn{
	font-size: 14px;
	transition: all 0.3s;
}
.btn-sm{
	padding: 5px 15px;
}
.btn-danger{
	background: #dd2a4f;
}
.btn-danger:hover,
.btn-danger:active{
	background: #a41a36;
}
h1{
	width: 180px;
	height: 30px;
	margin: 0;
	text-indent: -5000px;
	background: url("../img/logo.png") no-repeat;
}
#cover{
	width: 100%;
	height: 400px;
	background: url("../img/cover.jpg") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
#cover .container{
	height: 400px;
	position: relative;
}
	#cover .icon.icon_pencil.icon_pencil_white{
		width: 20px;
		height: 20px;
		display: inline-block;
		background: url("../img/icon_pencil_white.png") no-repeat;
		position: absolute;
		top: 80px;
		right: 20px;
		z-index: 1000;
	}
	#cover .pessoa{
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-bottom: 30px;
	}
		#cover .pessoa img{
			float: left;
			margin-right: 20px;
			width: 150px;
			height: 150px;
			border-radius: 75px;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		}
		#cover .pessoa .texto{
			float: left;
			margin-top: 30px;
		}
			#cover .pessoa .texto h2{
				font-size: 30px;
				color: #fff;
				font-weight: 700;
			}
			#cover .pessoa .texto p{
				font-size: 16px;
				color: #fff;
			}
				#cover .pessoa .texto span{
					display: inline-block;
					height: 20px;
					line-height: 20px;
					float: left;
					margin-right: 10px;
				}
				#cover .pessoa .texto .icon.icon_star{
					width: 22px;
					height: 20px;
					display: inline-block;
					background: url("../img/icon_star.png") no-repeat;
				}
				#cover .pessoa .texto .icon.icon_cross{
					width: 15px;
					height: 20px;
					display: inline-block;
					margin-left:10px;
					background: url("../img/icon_cross.png") no-repeat;
				}
			#cover .pessoa .texto .btn-sm{
				padding: 5px 10px;
				font-size: 11px;
				margin-left: 10px;
				letter-spacing: 1px;
			}
.navbar-secondary{
	background: #fff;
	border: 0;
}
.navbar-secondary .navbar-nav>li>a{
	color: #000000;
	font-size: 22px;
	line-height: 22px;
	padding: 28px;
	transition: all 0.3s;
	border-bottom: 3px solid transparent;
	text-transform: none;
	background: #fff;
}
.navbar-secondary .navbar-nav>li.active>a,
.navbar-secondary .navbar-nav>li>a:hover,
.navbar-secondary .navbar-nav>li>a:active{
	color: #dd2a4f;
	border-bottom: 3px solid #dd2a4f;
}
aside,
article{
	background: #fff;
	color: #000000;
	padding: 30px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin: 0 0 20px;
}
	article h3{
		font-weight: 900;
		font-size: 30px;
		margin: 0 0 30px;
	}
		article h3 .icon.icon_pencil{
			width: 20px;
			height: 20px;
			display: inline-block;
			background: url("../img/icon_pencil.png") no-repeat;
		}
	article p{
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 20px;
	}
	aside h4{
		margin: 0;
		color: #dd2a4f;
		font-size: 14px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
	}
	aside p{
		font-size: 16px;
		line-height: 22px;
	}
	aside hr{
		margin-left: -30px;
		margin-right: -30px;
	}
.box-foto,
.box-compartilhe{
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	width: 30%;
	margin-right: 5%;
	float: left;
	margin-bottom: 25px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	color: #000 !important;
	text-decoration: none !important;
}
.box-foto.no-margin,
.box-compartilhe.no-margin{
	margin-right: 0;
}
	.box-foto .foto,
	.box-compartilhe .foto{
		height: 179px;
	}
	.box-compartilhe .foto.facebook{
		background: url("../img/facebook.jpg") center center no-repeat;
		background-size: cover;
	}
	.box-compartilhe .foto.google-plus{
		background: url("../img/google-plus.jpg") center center no-repeat;
		background-size: cover;
	}
	.box-compartilhe .foto.email{
		background: url("../img/email.jpg") center center no-repeat;
		background-size: cover;
	}
	.box-foto p,
	.box-compartilhe p{
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		padding: 15px 15px 0;
	}
.frst-timeline-content{
	
}
	.frst-timeline-block{
		padding: 0;
	}
	.frst-timeline-style-11 .frst-timeline-block::before {
		background: #e8e8e8;
		width: 2px;
		margin-left: -1px;
	}
	.frst-timeline-style-11 .frst-timeline-img{
		top: 50%;
	}
	.frst-timeline-style-11 .frst-timeline-img span{
		min-width: 10px;
		min-height: 10px;
		padding: 0;
		box-shadow: 0 0 0 3px #fff;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner{
		width: 100%;
		border: 1px solid #e8e8e8;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	}
	.frst-timeline-style-11 .frst-odd-item .frst-timeline-content-inner:before{
		content: '';
		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;
		margin-right: -8px;
		width: 9px;
		height: 21px;
		background: url("../img/bg_box.png") no-repeat;
	}
	.frst-timeline-style-11 .frst-even-item .frst-timeline-content-inner:before{
		content: '';
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -10px;
		margin-left: -8px;
		width: 8px;
		height: 20px;
		background: url("../img/bg_box_2.png") no-repeat;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner .img{
		position: absolute;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner .text{
		padding-left: 80px;
		min-height: 60px;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner span{
		color: #33a0d8;
		font-size: 11px;
	}
	.frst-timeline-style-11.frst-date-opposite .frst-date{
		margin: 7px 0 0;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner .curtir{
		display: inline-block;
		position: absolute;
		width: 30px;
		height: 26px;
		padding-top: 3px;
		background: url("../img/bg_curtidas.png") 0 0 no-repeat;
		top: 20px;
		right: 20px;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		color: #fff;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner .curtir.ativo{
		background-position: -30px 0;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner .title-section{
		color: #403e3b;
		font-size: 18px;
		font-weight: 700;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner .content-section{
		color: #767579;
		font-size: 16px;
		line-height: 24px;
	}
#bg_lightbox{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000000;
	left: 0;
	top: 0;
	display: none;
}
#lightbox_panel{
	width: 90%;
	max-width: 700px;
	background: #f1f1f1;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000001;
	transform: translate(-50%,-50%);
	border-radius: 3px;
	overflow: hidden;
	display: none;
}
	#lightbox_panel .titulo{
		background: #dd2a4f;
		padding: 25px 30px;
		position: relative;
	}
		#lightbox_panel .titulo h2{
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			margin: 0;
		}
		#lightbox_panel .titulo .fa-close{
			float: right;
			color: #fff;
			position: absolute;
			top: 25px;
			right: 30px;
			font-size: 24px;
			cursor: pointer;
		}
	#lightbox_panel .box{
		margin: 25px 30px;
		background: #fff;
		padding: 15px 30px;
		border-radius: 3px;
	}
		#lightbox_panel .box textarea{
			width: 100%;
			height: 100px;
			border: 0;
			font-size: 18px;
			font-size: "Roboto";
			resize: none;
			outline: none;
			margin: 0 0 15px;
		}
		#lightbox_panel .box hr{
			border: 0;
			margin: 0 -30px 15px;
			border-bottom: 1px solid #ebebeb;
		}
.navbar-toggle{
	display: none;
}
@media (max-width: 1200px) {
	
}
@media (max-width: 991px) {
	.navbar-inverse .navbar-nav > li > a{
		padding: 15px 10px;
	}
	.navbar-secondary .navbar-nav>li>a {
		font-size: 18px;
		padding: 15px 17px;
	}
	#cover,
	#cover .container{
		height: 300px;
	}
}
@media (max-width: 768px) {
	.box-foto,
	.box-compartilhe{
		width: 100%
	}
	article h3{
		font-size: 17px;
    	line-height: 35px;
	}
	.btn{
		font-size: 12px;
	}
	.frst-timeline-style-11 .frst-timeline-content-inner{
		margin-bottom: 20px;
	}
	.frst-timeline-style-11 .frst-odd-item .frst-timeline-content-inner:before{
		content: '';
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 0;
		right: auto;
		margin-top: -10px;
		margin-left: -8px;
		width: 8px;
		height: 20px;
		background: url(../img/bg_box_2.png) no-repeat;
	}
	.frst-timeline-style-11 .frst-timeline-block::before{
		margin-left: -20px;
	}
	.frst-timeline-style-11 .frst-timeline-img{
		margin-left: -37px;
   	 	margin-top: -27px;
	}
	.navbar-nav>li>a, .navbar-inverse .navbar-text{
		font-size: 12px;
	}
	#cover .pessoa .texto h2{
		font-size: 20px;
	}
	nav .menu{
		display: none;
		position: absolute;
		top: 60px;
		width: calc(100% - 30px);
		margin: 0;
		padding: 0;
		background: rgba(27, 27, 27, 0.85);
		border: 1px solid #080808;
		border-top: 0;
	}
	.navbar-toggle{
		border: none;
		margin: 13px 0;
		display: none;
		background: none !important;
		display: block;
	}
	.navbar-inverse .navbar-nav > li > a{
		padding: 5px 15px;
		border-bottom: 0 !important;
	}
	nav .navbar-nav{
		margin: 7.5px 0;
	}
	.navbar-nav>li>a, .navbar-inverse .navbar-text{
		padding: 5px 15px;
	}
	.navbar-secondary .navbar-nav>li>a {
		font-size: 18px;
		padding: 10px;
	}
	.navbar-secondary .navbar-nav>li.active>a, .navbar-secondary .navbar-nav>li>a:hover, .navbar-secondary .navbar-nav>li>a:active{
		border-bottom: 3px solid #fff;
	}
}
@media (max-width: 500px) {
	#cover .pessoa img{
		width: 120px;
		height: 120px;
	}
	#cover .pessoa .texto{
		margin-top: 15px;
	}
	#cover .pessoa .texto h2{
		font-size: 16px;
	}
	#cover .pessoa .texto p{
		font-size: 12px;
	}
}