/* CSS Document */
body{
	background-color: #123154;
}
input{
	font-family: "Roboto";
}
a:hover,
a:focus{
	text-decoration: none;
}
#form_login{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	max-width: 400px;
	margin-top: -40px;
	z-index: 1000;
}
	#form_login h1{
		text-align: center;
	}
		#form_login h1 img{
			display: block;
			height: auto;
			max-width: 170px;
			margin: 0 auto 50px;
		}
	#form_login input{
		color: #888888;
		font-size: 22px;
		width: 100%;
		border: 0;
		padding: 15px 20px;
		outline: none;
	}
	#form_login input[type=email]{
		border-bottom: 1px solid #ebebeb;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	#form_login input[type=submit]{
		color: #fff;
		background-color: #2ba3dd;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		margin-bottom: 20px;
	}
	#form_login a{
		display: block;
		text-align: center;
		color: #fff;
		font-size: 16px;
	}
.poweredBy{
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 20px;
}
	.poweredBy span{
		display: block;
		font-size: 12px;
		font-weight: 300;
		color: #fff;
	}
	.poweredBy img{
		display: block;
		height: auto;
		max-width: 120px;
		margin: 0 auto;
	}