<p>Bem vindo <%= @email %>!</p>

<p>Você pode confirmar sua conta de email pelo link abaixo:</p>

<p><%= link_to 'Confirme a minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
