<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos informando que você alterou o seu email para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para informar que o seu email foi alterado para <%= @resource.email %>.</p>
<% end %>
