<p>Olá <%= @resource.title %>!</p>

<p>Alguém solicitou um link para trocar a sua senha. Você pode fazer isto pelo link abaixo.</p>

<p><%= link_to 'Alterar a senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isto, por favor, ignore este email.</p>
<p>A sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>
