<% content_for :head do %>
    <meta property="og:url" content="<%= memorial_memorial_url(@memorial) %>"/>
<% end %>

<%= render partial: 'memorial/shared/memorial_top' %>


<div class="container content-sm">
  <div class="headline-center margin-bottom-40">
    <div class="col-md-12">
      <div class="headline">
        <h3>Compartilhe o Memorial Vivo de <strong><%= @memorial.title %></strong></h3>
      </div>
      <div class="row brand-page margin-bottom-40">
        <div class="col-sm-12 col-md-6" data-url="<%= memorial_memorial_url(@memorial) %>">
          <a data-title="Memorial Vivo de <%= @memorial.title %>" data-desc="<%= @memorial.social_description %>" class="btn btn-block btn-facebook" rel="nofollow " data-site="facebook" onclick="return SocialShareButton.share(this);">
            <i class="fa fa-facebook"></i> Facebook
          </a>
        </div>
        <div class="col-sm-12 col-md-6" data-url="<%= memorial_memorial_url(@memorial) %>">
          <a data-title="Memorial Vivo de <%= @memorial.title %>" data-desc="<%= @memorial.social_description %>" class="btn btn-block btn-googleplus" rel="nofollow " data-site="google_plus" onclick="return SocialShareButton.share(this);">
            <i class="fa fa-facebook"></i> Google +
          </a>
        </div>
      </div>
      <div class="headline">
        <h3>Convite seus amigos e familiares por E-mail</h3>
      </div>

      <%= form_for(@invite, url: admin_memorial_invites_path(memorial_id: @memorial.id), html: {class: 'sky-form ', id: 'sky-form4', novalidate: 'novalidate'}) do |f| %>
          <%= f.hidden_field :memorial_id, :value => @memorial.id %>
          <div class="form-group">
            <label class="input">
              <%= text_area_tag :emails, nil, placeholder: 'Coloque aqui até 50 E-mails, um por linha ou separados por vírgulas', class: 'form-control', rows: 7 %>
            </label>
          </div>
          <button class="btn-u margin-bottom-20" type="submit">Convidar amigos</button>
      <% end %>
    </div>
  </div>
</div>