<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
    <div class="row">
      <div class="col-sm-6">
        <%= link_to user_facebook_omniauth_authorize_path(invite_token: @token), class: 'popup btn btn-block btn-sm btn-facebook-inversed' do %>
            <i class="fa fa-facebook"></i>
            Facebook
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= link_to user_google_oauth2_omniauth_authorize_path(invite_token: @token), class: 'popup btn btn-block btn-sm btn-googleplus-inversed' do %>
            <i class="fa fa-google-plus"></i>
            Google+
        <% end %>
      </div>
    </div>
<% end -%>
