<% content_for :header_files do %>
    <script language="JavaScript">
        $(document).ready(function () {
            $('#id_mmrl_evnt_when_date').pickadate({
                hiddenName: true,
                selectMonths: true,
                selectYears: 200,
                format: 'dd/mm/yyyy',
                formatSubmit: 'yyyy-mm-dd'
            });
            $('#id_mmrl_evnt_when_time').pickatime({
                hiddenName: true,
                format: 'HH:i',
                formatSubmit: 'HH:i'
            });

            $('#id_mmrl_evnt_when_date').pickadate('picker')
                    .on('render', function() {
                        /**
                         * http://amsul.ca/pickadate.js/api.htm#events-callbacks
                         * Revalidate the date of birth field
                         */
                        $('#new_memorial_event').formValidation('revalidateField', 'memorial_event[mmrl_evnt_when_date]');
                    });
            $('#id_mmrl_evnt_when_time').pickatime('picker')
                    .on('render', function() {
                        console.log('time');
                        /**
                         * http://amsul.ca/pickadate.js/api.htm#events-callbacks
                         * Revalidate the date of birth field
                         */
                        $('#new_memorial_event').formValidation('revalidateField', 'memorial_event[mmrl_evnt_when_time]');
                    });
            $('#new_memorial_event').formValidation({
                locale: 'pt_BR',
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
//                err: {
//                    container: 'tooltip'
//                },
                excluded: ':disabled',
                fields: {
                    'memorial_event[mmrl_evnt_when_date]': {
                        err: '#id_mmrl_evnt_when_date_message',
                        validators: {
                            notEmpty: {
                                message: 'Informe a data'
                            }
                        }
                    },
                    'memorial_event[mmrl_evnt_when_time]': {
                        err: '#id_mmrl_evnt_when_time_message',
                        validators: {
                            notEmpty: {
                                message: 'Informe o horário'
                            }
                        }
                    }
                }
            });


        });
    </script>
<% end %>
<div class="modal fade" id="modalNewEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title" id="myModalLabel">Cadastre o evento</h4>
      </div>
      <div class="modal-body">
        <%= form_for @event, url: {action: :create}, html: {class: 'form-horizontal sky-form contact-style', role: 'form'} do |f| %>
            <div class="form-group">
              <label for="inputTitle" class="col-lg-3 control-label">Evento</label>

              <div class="col-lg-9">
                <%= f.text_field :mmrl_evnt_title, class: 'form-control', placeholder: 'Título do evento', required: true, data: {error: 'O título é obrigatório'} %>
              </div>
            </div>

            <div class="form-group has-feedback">
              <label for="memorial_event_mmrl_evnt_when_date" class="col-lg-3 control-label">Local</label>

              <div class="col-lg-9">
                <%= f.text_field :mmrl_evnt_where, class: 'form-control', placeholder: 'Informe onde será o evento', required: true %>
              </div>
            </div>
            <div class="form-group has-feedback">
              <label for="inputPassword1" class="col-lg-3 control-label">Data/Hora</label>

              <div class="col-lg-9">
                <div class="row">
                  <section class="col col-5">
                    <%= f.text_field :mmrl_evnt_when_date, id: 'id_mmrl_evnt_when_date', class: 'form-control datepicker', placeholder: 'Quando será?' %>
                    <span class="help-block" id="id_mmrl_evnt_when_date_message"></span>
                  </section>
                  <section class="col col-4">
                    <%= f.text_field :mmrl_evnt_when_time, id: 'id_mmrl_evnt_when_time', class: 'form-control timepicker', required: true, data: {error: 'Informe a hora'} %>
                    <span class="help-block" id="id_mmrl_evnt_when_time_message"></span>
                  </section>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-lg-3 control-label">Descrição</label>

              <div class="col-lg-9">
                <%= f.text_area :mmrl_evnt_description, class: 'form-control', rows: 7, placeholder: 'Opcional, caso necessário, coloque mais informações aqui.' %>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-lg-3 control-label"></label>

              <div class="col-lg-9">
                <button class="btn-u btn-u-green" type="submit">Salvar</button>
                <% f.submit 'Salvar', class: 'btn-u btn-u-green' %>
                <button class="btn-u btn-u-blue" type="button" onclick="console.log(jQuery('#formEventId').trigger('reset'))">Limpar</button>
              </div>
            </div>
        <% end %>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>