<%= render partial: 'memorial/shared/memorial_top' %>

<%= render partial: 'memorial/events/modal_new_event', locals: {memorial: @memorial, event: @event} %>

<!-- Container Part -->
<div class="container content-sm">
  <div class="headline-center margin-bottom-40">
    <h2>
      Eventos
    </h2>

    <div class="rows">
      <a href="#" data-toggle="modal" data-target="#modalNewEvent" class="btn btn-new">Novo Evento</a>
    </div>

    <div class="rows">
      <% @memorial.events.each do |event| %>
          <%= render partial: 'memorial/events/modal_edit_event', locals: {memorial: @memorial, event: event} %>
          <div class="col-md-3">
            <div class="thumbnails thumbnail-style">
              <a class="fancybox" data-rel="fancybox-button" title="Project #1" href="assets/img/main/img18.jpg">
                <img class="img-responsive" src="http://www.capaparafacebook.com.br/wp-content/uploads/2014/01/paisagem58.jpg" alt="">
              </a>

              <div class="caption">
                <h3><a class="hover-effect" href="#"><%= truncate event.mmrl_evnt_title, :length   => 25, :separator => /\w/,
                                                                  :omission => "..." %></a></h3>

                <p><%= l(event.mmrl_evnt_when_date) if !event.mmrl_evnt_when_date.nil? %></p>

                <p><%= (event.mmrl_evnt_address) %></p>

                <p><%= truncate event.mmrl_evnt_description, :length   => 100, :separator => /\w/,
                               :omission => "..." %></p>
                <a data-toggle="modal" data-target="#modalEditEvent<%=event.id%>" class="btn btn-default">Editar</a>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>