<div id="actions" class="row">

  <div class="col-lg-7">
    <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Adicionar fotos...</span>
        </span>
    <button type="submit" class="btn btn-primary start">
      <i class="glyphicon glyphicon-upload"></i>
      <span>Enviar fotos</span>
    </button>
    <button type="reset" class="btn btn-warning cancel">
      <i class="glyphicon glyphicon-ban-circle"></i>
      <span>Cancelar envio</span>
    </button>
  </div>

  <div class="col-lg-5">
    <!-- The global file processing state -->
        <span class="fileupload-process">
          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
          </div>
        </span>
  </div>

</div>

<div class="table table-striped files" id="previews">

  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->
    <div>
      <span class="preview"><img data-dz-thumbnail/></span>
    </div>
    <div>
      <p class="name" data-dz-name></p>
      <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
      <p class="size" data-dz-size></p>

      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary start">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Enviar</span>
      </button>
      <button data-dz-remove class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancelar</span>
      </button>
      <!--<button data-dz-remove class="btn btn-danger delete">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
      <!--<span>Delete</span>-->
      <!--</button>-->
    </div>
  </div>

</div>

<div class="col-lg-12">
  <%= form_tag(upload_photo_admin_memorial_path(@memorial),
               multipart: true,
               id: 'my-awesome-dropzone'
      ) do |f| %>
      <input type="hidden" name="memorial[id]" value="<%= @memorial.id %>">
  <% end %>
</div>
<div class="row">
  <% for photo in @memorial.memorial_photos.order(:created_at) do %>
      <div class="col-lg-4 col-md-6 thumbnails thumbnail-style">
        <div class="thumbnail-img text-center">
          <%= image_tag(photo.image.public_url('thumb')) %>

        </div>
        <div class="caption margin-left-10">
          <h3><%= best_in_place photo, :mmry_phto_title, :as => :input, url: admin_memorial_photo_path(id: photo.id), :place_holder => "*Sem título*" %></h3>

          <p><%= best_in_place photo, :mmry_phto_description, :as => :textarea, url: admin_memorial_photo_path(id: photo.id), :place_holder => "*sem descrição*" %></p>
          <%= link_to admin_memorial_photo_path(photo, memorial_id: @memorial.id), method: :delete, class: 'btn-u btn-brd btn-brd-hover btn-u-red btn-u-sm', data: {confirm: 'Deseja remover esta foto?'} do %>
              <i class="glyphicon glyphicon-remove"></i>
              Remover
          <% end %>
        </div>
      </div>
  <% end %>
</div>