<% content_for :javascript_script_end_page do %>
    <script language="JavaScript">
        $(document).ready(function () {
//            $('#my-awesome-dropzone').dropzone();

            var previewNode = document.querySelector("#template");
            previewNode.id = "";
            var previewTemplate = previewNode.parentNode.innerHTML;
            previewNode.parentNode.removeChild(previewNode);

//        new Dropzone(document.body, {/
            var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
                url: "<%=upload_photo_admin_memorial_path(@memorial)%>", // Set the url
                thumbnailWidth: 80,
                acceptedFiles: 'image/*',
                thumbnailHeight: 80,
                parallelUploads: 20,
                previewTemplate: previewTemplate,
                autoQueue: false, // Make sure the files aren't queued until manually added
                previewsContainer: "#previews", // Define the container to display the previews
                clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                }
            });

            myDropzone.on("addedfile", function (file) {
                // Hookup the start button
                file.previewElement.querySelector(".start").onclick = function () {
                    myDropzone.enqueueFile(file);
                };
            });

// Update the total progress bar
            myDropzone.on("totaluploadprogress", function (progress) {
                document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
            });

            myDropzone.on("sending", function (file) {
                // Show the total progress bar when upload starts
                document.querySelector("#total-progress").style.opacity = "1";
                // And disable the start button
                file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
            });

// Hide the total progress bar when nothing's uploading anymore
            myDropzone.on("queuecomplete", function (progress) {
                document.querySelector("#total-progress").style.opacity = "0";
                location.reload();
            });

// Setup the buttons for all transfers
// The "add files" button doesn't need to be setup because the config
// `clickable` has already been specified.
            document.querySelector("#actions .start").onclick = function () {
                myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
            };
            document.querySelector("#actions .cancel").onclick = function () {
                myDropzone.removeAllFiles(true);
            };
            jQuery(".best_in_place").best_in_place();
        });
    </script>
<% end %>
<% content_for :title, 'Editar o memorial ### CONTEUDO INATIVO' %>
<% content_for :navbar do %>
    <li>
      <%= link_to admin_painel_path(memorial_id: @memorial.id) do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li><%= link_to 'Memoriais', admin_memorials_path %></li>
    <li class="active"><%= link_to 'Edit', new_admin_memorial_path %></li>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <fieldset>
      <legend>
        Fotos
      </legend>
      <%= render partial: 'photos' %>
    </fieldset>
  </div>
</div>
