<nav class="navbar navbar-default mCustomScrollbar _mCS_1 mCS-autoHide" role="navigation" data-mcs-theme="minimal-dark" style="overflow: visible;">
  <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0">
    <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
      <!-- Brand and toggl-+e get grouped for better mobile display -->
      <div class="menu-container">
        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- End Toggle -->

        <div class="text-center">
          <a href="<%= url_for :root %>">
            <%= image_tag('logo-horizontal2.png', height: 56, alt: 'Clique para voltar para o Memorial Vivo', class: 'mCS_img_loaded') %>
          </a>
        </div>

        <!-- Logo -->
        <div class="text-center">
          <%= link_to memorial_memorial_path(@memorial) do %>
              <img id="logo-header" class="img-rounded img-center" src="<%= @memorial.main_photo_thumb_url %>" alt="Logo">
          <% end %>

          <% if !memorial_added? %>
              <div class="text-center margin-top-20">
                <%= link_to admin_memorial_friends_path(memorial_id: @memorial.id), method: :create, class: 'btn-u btn-u-small margin-top-20' do %>
                    Seguir
                <% end %>
              </div>
          <% else %>

              <div class="text-center margin-top-20 color-blue">
                Seguindo <%= ((policy(@memorial).edit?) ? '(Admin)' : '') %>
                <% if memorial_user_id.present? %>
                    <%= link_to admin_memorial_friend_path(memorial_id: @memorial.id, id: memorial_user_id), method: :delete, class: 'btn btn-xs rounded btn-u-red color-red', data: {confirm: 'Deseja sair deste Memorial Vivo?'} do %>
                        <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                <% end %>
              </div>
          <% end %>

          <% if policy(@memorial).edit? %>
              <div class="text-center margin-top-20 margin-bottom-20">
                <a href="<%= edit_admin_memorial_path(@memorial.id) %>" class="btn-u btn-u-small">Editar</a>
              </div>
          <% end %>
        </div>
        <!-- End Logo -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse navbar-responsive-collapse collapse" aria-expanded="false" style="height: 2px;">
        <div class="menu-container">
          <ul class="nav navbar-nav">
            <!-- Home -->
            <%= raw menu_link_to 'Home', memorial_memorial_path(@memorial) %>
            <%= raw menu_link_to 'Fotos', memorial_photos_path(memorial_id: @memorial.id) %>
            <%= raw menu_link_to 'Livro de visitas', memorial_guest_books_path(memorial_id: @memorial.id) %>
            <% if Rails.env.development? %>
                <%= raw menu_link_to 'Eventos', memorial_events_path(memorial_id: @memorial.id) %>
            <% end %>
            <%= raw menu_link_to 'Compartilhe com os amigos', memorial_invite_friends_path(memorial_id: @memorial.id) %>
            <!--<%= raw menu_link_to 'Conte uma história', memorial_histories_path(memorial_id: @memorial.id) %>-->
            <!-- End Misc Pages -->
          </ul>

          <!--<ul class="list-inline header-socials">
            <li><a href="'#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="'#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="'#"><i class="fa fa-twitter"></i></a></li>
          </ul>-->
          <p class="copyright-text">&copy; <%= Date.today.year %> <%= link_to 'Memorial Vivo', :root %>. Todos os
            direitos
            reservados.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
    <div class="mCSB_draggerContainer">
      <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 377px; top: 0px; display: block; max-height: 415px;" oncontextmenu="return false;">
        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
      </div>
      <div class="mCSB_draggerRail"></div>
    </div>
  </div>
  <!-- End Navbar Collapse -->
</nav>