<% content_for :title, 'Pedidos' %>
<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Pedidos' %></li>
<% end %>
<div class="panel panel-grey margin-bottom-40">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> Meus pedidos</h3>
  </div>
  <table class="table table-striped">
    <tr>
      <!--<th>#</th>-->
      <th>Número</th>
      <th>Valor</th>
      <th>Em uso?</th>
      <th>Data/Hora</th>
      <th>Situação</th>
      <th>Ações</th>
    </tr>
    <% @orders.each_with_index do |order, index| %>
        <tr>
          <!--<td><%= index+1 %></td>-->
          <td><%= order.fnnl_ordr_number %></td>
          <td><%= order.fnnl_ordr_total %></td>
          <% if order.financial_order_items.first.present? && order.financial_order_items.first.fnnl_ordr_item_receiver.present? %>
              <td><%= order.financial_order_items.first.fnnl_ordr_item_receiver.title %></td>
          <% else %>
              <td>--</td>
          <% end %>
          <td><%= l(order.created_at, format: :short) %></td>
          <td><%= order.state_description %></td>
          <td>
            <% if order.state_description == 'New' %>
                <button class="btn-u btn-u-light-green btn-xs"><i class="fa  fa-credit-card"></i> Finalizar pagamento
                </button>
            <% else %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>