<div class="headline"><h2>Links rápidos</h2></div>
<ul class="list-unstyled link-list">
  <li><a href='/new_memorial#register'>Criar um memorial</a><i class="fa fa-angle-right"></i></li>
  <li><a href="/plans">Planos</a><i class="fa fa-angle-right"></i></li>
  <% if current_user %>
      <li><a href="#">Minha conta</a><i class="fa fa-angle-right"></i></li>
  <% else %>
      <li><a href="#">Login</a><i class="fa fa-angle-right"></i></li>
  <% end %>
</ul>