<div class="header-v1" ng-controller="AuthenticationCtrl">
  <!-- Topbar -->
  <%=render partial: 'layouts/shared/site/top' %>
  <!-- End Topbar -->

  <!-- Navbar -->
  <div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="<%=url_for :root%>"> <span class="logo"><%=image_tag('logo-horizontal2.png', height: 56, alt: 'Memorial Vivo')%></span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <ul class="nav navbar-nav">

          <%=raw menu_link_to 'Sobre nós', '/about_us' %>
          <%=raw menu_link_to 'Criar um Memorial', '/new_memorial#register' %>
          <% if current_user %>
            <%= raw menu_link_to 'Meus memoriais', admin_memorials_path %>
          <% end %>
          <%=raw menu_link_to 'Planos', '/plans' %>

          <% if current_user %>
              <%= raw menu_link_to 'Minha conta', '/admin/profile' %>
          <% else %>
              <%= raw menu_link_to 'Login', new_user_registration_path %>
          <% end %>
          <!--<%=raw menu_link_to 'Contato', contact_path %>-->
        </ul>
      </div><!--/navbar-collapse-->
    </div>
  </div>
  <!-- End Navbar -->
</div>