<div class="topbar-v1">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline top-v1-contacts">
          <li>
            <i class="fa fa-envelope"></i> Email:
            <a href="mailto:contato@memorialvivo.com.br" target="_blank">contato@memorialvivo.com.br</a>
          </li>
          <li>
             <a href="https://api.whatsapp.com/send?phone=5562998195428"><i class="fa fa-whatsapp"></i> (+55) 62 99819-5428</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-inline top-v1-data">
          <li><a href="<%= root_path %>"><i class="fa fa-home"></i></a></li>
          <!--<li><a href="http://www.conectacard.com.br"><i class="fa fa-globe"></i></a></li>-->
          <li><a href="<%= url_for financial_cart_path %>"><i class="fa fa-shopping-cart"></i></a></li>
          <% if current_user %>
              <li class="dropdown">
                <%= link_to admin_profile_edit_path, class: 'dropdown-toggle', data: {toggle: 'dropdown'}  do %>Minha conta
                    (<%= current_user.title %>)
                <% end %>
                <ul class="dropdown-menu">
                  <% for memorial in @memorials_user do %>
                  <li>
                    <%= link_to edit_admin_memorial_path(memorial)  do %>
                        <i class="fa fa-user"></i> <%=memorial.title %></a>
                    <% end %>
                  </li>
                      <% end %>
                  <li>
                    <%= link_to admin_profile_edit_path  do %>
                        <i class="fa fa-user"></i> Minha conta</a>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admin_settings_edit_path  do %>
                        <i class="fa fa-cog"></i> Configurações</a>
                    <% end %>
                  </li>
                </ul>
              </li>
              <li><%= link_to 'Sair', destroy_user_session_path(back_to: request.path) %></li>
          <% else %>
              <li><%= link_to 'Login', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>