<%= render partial: 'memorial/shared/memorial_top' %>
<div class="row">
  <div class="col-md-3 col-lg-2">
    <a data-title="Memorial Vivo de <%= @memorial.title %>" data-desc="<%= @memorial.social_description %>" class="btn btn-block btn-facebook" rel="nofollow " data-site="facebook" onclick="return SocialShareButton.share(this);">
      <i class="fa fa-facebook"></i> Compartilhar
    </a>
  </div>
</div>
<!-- Container Part -->
<div class="container content-sm">

  <% if policy(@memorial).edit? %>
      <div class="margin-bottom-10 col-lg-12 text-center">
        <%= link_to 'Editar', edit_admin_memorial_path(@memorial), class: 'btn btn-default' %>
      </div>
  <% end %>
  <div class="headline-center margin-bottom-40">
    <div class="col-md-6">
      <div class="headline"><h3>Nascimento</h3></div>
      <dl class="dl-horizontal">
        <p><%= l(@memorial.mmry_birth_date) %></p>

        <p><%= (@memorial.mmry_birth_location) %></p>
      </dl>
    </div>
    <div class="col-md-6">
      <div class="headline"><h3>Falecimento</h3></div>
      <dl class="dl-horizontal">
        <p><%= l(@memorial.mmry_death_date) %></p>

        <p><%= (@memorial.mmry_death_location) %></p>
        <% if !@memorial.mmry_cause_of_death.blank? %>
            <!--<dt>Causa</dt>-->
            <p><%= (@memorial.mmry_cause_of_death) %></p>
        <% end %>
      </dl>
    </div>
  </div>
  <% if @memorial.mmry_biografy.present? %>
      <div class="headline-center margin-bottom-40">
        <h2>Biografia</h2>
        <div class="tag-box tag-box-v2">
        <p class="text-justify">
          <%= raw @memorial.mmry_biografy %>
        </p>
      </div>
      </div>
  <% end %>
</div>
<!-- End Container Part -->