<fieldset>
  <% if !@memorial.nil? %>
      <section>
        <div class="row">
          <label class="col-lg-2 col-md-3 control-label" for="name">Homenageado(a):</label>

          <div class="col-lg-5 col-md-5">
            <%= @memorial.mmry_firstname %>
            <%= @memorial.mmry_lastname %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-2 col-md-3 control-label" for="name">Sexo:</label>

          <div class="col-lg-5 col-md-5">
            <%= @memorial.mmry_gender %>
          </div>
        </div>
        <div class="row">
          <label for="mmry_birth_date" class="col-lg-2 col-md-3 control-label">Data de nascimento</label>

          <div class="col-lg-2 col-md-3">
            <%= @memorial.mmry_birth_date %>
          </div>
          <label for="mmry_death_date" class="col-lg-2 col-md-3 control-label">Data de Falecimento</label>

          <div class="col-lg-2 col-md-3">
            <%= @memorial.mmry_death_date %>
          </div>
        </div>
        <% if !@memorial.mmry_cause_of_death.blank? %>
            <div class="row">
              <label for="mmry_birth_date" class="col-lg-3 control-label">Causa da morte</label>

              <div class="col-lg-9">
                <%= @memorial.mmry_cause_of_death %>
              </div>
            </div>
        <% end %>
        <div class="row">
          <label for="mmry_birth_date" class="col-lg-2 col-md-3 control-label">Local de nascimento</label>

          <div class="col-lg-2 col-md-3">
            <%= @memorial.mmry_birth_location %>
          </div>
          <label for="mmry_death_date" class="col-lg-2 col-md-3 control-label">Local de Falecimento</label>

          <div class="col-lg-2 col-md-3">
            <%= @memorial.mmry_death_location %>
          </div>
        </div>
      </section>
  <% end %>
  <h1>Nossos planos</h1>
  <hr/>
  <section>
    <div class="row pricing-table-v1 no-space-pricing">
      <% for plan in @memorial_plans %>
          <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="plan in memorial_plans">
            <div class="pricing-v1 pricing-v1-<%= plan.mmrl_plan_color %>">
              <div class="pricing-v1-head text-center">
                <h4><%= plan.mmrl_plan_title %></h4>
                <% if plan.discount? && plan.price_with_initial_discount != plan.mmrl_plan_price %>
                    <h4>De
                      <s><%= "#{number_to_currency(plan.mmrl_plan_price, unit: "", separator: ",", delimiter: "", precision: 2)}" %></s>
                      por</h4>
                <% else %>
                    <h4>&nbsp;</h4>
                <% end %>
                <h5>
                  <span>R$</span><%= "#{number_to_currency(plan.price_with_initial_discount, unit: "", separator: ",", delimiter: "", precision: 2)}" %>

                </h5>
              </div>
              <ul class="list-unstyled pricing-v1-content">
                <li class="pricing-v1-aqua"><strong><u>
                  <% if plan.mmrl_plan_free_default? %>
                      Gratuito
                  <% elsif plan.mmrl_plan_validade_days <= 0 && !plan.mmrl_plan_free_default? %>
                      Pagamento único
                  <% elsif plan.mmrl_plan_validade_days > 0 && !plan.mmrl_plan_free_default? %>
                      Cobrado 1 vez a cada <%= plan.mmrl_plan_validade_days/365 %> ano<%= ((plan.mmrl_plan_validade_days/365 > 1) ? 's' : '') %>
                  <% end %>
                </u></strong></li>
                <li><i class="fa fa-check-circle-o"></i><%= plan.mmrl_plan_photos_limit_str %> Fotos</li>
                <li><i class="fa fa-check-circle-o"></i><%= plan.mmrl_plan_videos_limit_str %> Vídeos</li>
                <li ng-hide="plan.mmrl_plan_support">
                  <% if plan.mmrl_plan_free_default? %>
                      <i class="fa fa-check-circle-o"></i>
                      Propagandas
                  <% else %>
                      <i class="fa fa-times-circle" style="color: red;"></i>
                      <del>Propagandas</del>
                  <% end %>
                </li>
                <li ng-show="plan.mmrl_plan_support">
                  <% if plan.mmrl_plan_free_default? %>
                      <i class="fa fa-times-circle" style="color: red;"></i>
                      <del>Suporte Online</del>
                  <% else %>
                      <i class="fa fa-check-circle-o"></i>
                      Suporte Online
                  <% end %>
                </li>
              </ul>
              <div class="pricing-v1-footer">
                <%= link_to new_memorial_path(anchor: 'new_memorial', plan_id: plan.id), class: "btn-u btn-u-#{plan.mmrl_plan_color} btn-block text-center" do %>
                    Selecione o Plano
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </section>

</fieldset>