<% content_for :title, 'Sobre nós' %>
<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Sobre nós' %></li>
<% end %>

<p>A perda de um ente querido &eacute; doloroso, mas sabemos que a vida segue. Ningu&eacute;m gosta de ver uma pessoa querida triste. Por isso, nada melhor do que lembrar os bons acontecimentos.</p>
<p>Aqui voc&ecirc; pode reviver os melhores momentos por fotos e v&iacute;deos porque sabemos que aqueles que amamos nunca morrem, apenas partem antes de n&oacute;s.</p>
<p>Tamb&eacute;m &eacute; poss&iacute;vel incluir sua homenagem homenageando &agrave; todos.</p>
