<% content_for :title, 'Memorial Vivo' %>
<% content_for :navbar do %>
    <li class="active">
      <i class="fa fa-home"></i>
      Home
    </li>
<% end %>

  <p>Aqui você pode criar um Memorial para homenagear aquela pessoa querida, que já não está mais entre nós. No Memorial, você pode criar uma biografia completa para que
  a sua pessoa querida não seja esquecida, colocar fotos, contar histórias, compartilhar nas redes sociais e em breve, teremos o recurso de Árvore Genealógica. Veja os memoriais já criados e inspire-se para criar um também.</p>

<%
if current_user.present?
  anchor = 'new_memorial'
else
  anchor = 'register'
end
%>

  <p class="new_memorial_action"><%=link_to 'Crie um Memorial de graça', new_memorial_path(anchor: anchor), class: 'btn btn-lg rounded btn-primary' %></p>

<% if !@memorials_added.empty? %>
    <h1>Memoriais que você segue</h1>
    <div class="row">
      <% @memorials_added.each do |memorial| %>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">
              <a class="fancybox-button zoomer" data-rel="fancybox-button" title="<%= h memorial.title %>" href="<%= memorial_memorial_path(memorial.id) %>">
									<span class="overlay-zoom">
										<img class="img-responsive img-rounded img-center margin-top-20" src="<%= memorial.main_photo_thumb_url %>" alt="">
										<span class="zoom-icon"></span>
									</span>
              </a>

              <div class="caption">
                <h3 class="truncate-ellipsis">
                  <a class="hover-effect" title="<%= h memorial.title %>" href="<%= memorial_memorial_path(memorial.id) %>"><%= h memorial.title %></a>
                </h3>

                <p><%= l(memorial.mmry_birth_date) %> - <%= l(memorial.mmry_death_date) %>
                  (<%= distance_of_time_in_words(memorial.mmry_birth_date, memorial.mmry_death_date, highest_measure_only: true) %>
                  )
                </p>

                <p>
                  <a href="<%= memorial_memorial_path(memorial.id) %>" class="btn-u btn-u-small">Visitar</a>
                  <% if policy(memorial).edit? %>
                      <a href="<%= edit_admin_memorial_path(memorial.id) %>" class="btn-u btn-u-small">Editar</a>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
<% if !@memorials.empty? %>
    <h1>Outros memoriais</h1>
    <div class="row">
      <% @memorials.each do |memorial| %>
          <div class="col-md-3">
            <div class="thumbnail">
              <a class="fancybox-button zoomer" data-rel="fancybox-button" title="<%= h memorial.title %>" href="<%= memorial_memorial_path(memorial.id) %>">
									<span class="overlay-zoom">
										<img class="img-responsive" src="<%= memorial.main_photo_thumb_url %>" alt="">
										<span class="zoom-icon"></span>
									</span>
              </a>

              <div class="caption">
                <h3 class="truncate-ellipsis">
                  <a class="hover-effect" title="<%= h memorial.title %>" href="<%= memorial_memorial_path(memorial.id) %>"><%= h memorial.title %></a>
                </h3>

                <p><%= l(memorial.mmry_birth_date) %> - <%= l(memorial.mmry_death_date) %>
                  (<%= distance_of_time_in_words(memorial.mmry_birth_date, memorial.mmry_death_date, highest_measure_only: true) %>
                  )
                </p>

                <p>
                  <a href="<%= memorial_memorial_path(memorial.id) %>" class="btn-u btn-u-small">Visitar</a>
                  <% if memorial.user == current_user %>
                      <a href="<%= edit_admin_memorial_path(memorial.id) %>" class="btn-u btn-u-small">Editar</a>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>