<% content_for :title, 'Criar um Memorial' %>
<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Criar um Memorial' %></li>
<% end %>

<%
   step3 = false
   step4 = false
   if !@memorial.new_record?
     step3 = true
     if @memorial.ready_to_publish?
       step4 = true
     end
   end
%>

<div class="tab-v1" id="myTabs">
  <ul class="nav nav-tabs">
    <li><a href="#register" data-toggle="tab" aria-expanded="true" aria-controls="register" id="tablink_register">1 -
      Registro / Login</a></li>
    <li>
      <a href="#new_memorial" data-toggle="tab" aria-expanded="false" aria-controls="new_memorial" id="tablink_new_memorial">2
        - Crie um Memorial</a></li>
    <li <%= ((step3) ? '' : 'class=disabled') %>>
      <a href="#biografia_fotos" data-toggle="tab" aria-expanded="false" aria-controls="biografia_fotos" id="tablink_biografia_fotos" <%= ((step3) ? '' : 'aria-disabled=true') %>>3
        - Biografia e fotos</a></li>
    <li <%= ((step4) ? '' : 'class=disabled') %>>
      <a href="#memorial_plan" data-toggle="tab" aria-expanded="false" aria-controls="memorial_plan" <%= ((step4) ? '' : 'aria-disabled=true') %>>4
        - Escolha o plano</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="register">
      <div class="row">
        <% if !user_signed_in? %>
            <div class="col-md-10">
              <h4>Faça o cadastro ou entre com o seu usuário</h4>
              <%= render partial: 'home/memorial/register' %>
            </div>
        <% else %>
            <div class="col-md-10">
              <h4>Você está registrado no Memorial Vivo</h4>
              <%= render(:partial => 'home/memorial/user_info') %>
              <%= link_to 'Sair', destroy_user_session_path(back_to: new_memorial_path), class: 'btn-u' %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="new_memorial">
      <h4>Crie um memorial</h4>

      <% if user_signed_in? %>
          <div class="col-md-12">
            Este memorial será registrado para o usuário: <%= current_user.name %> (<%= current_user.email %>)
            <hr class="devider devider-dotted">
            <%= render(:partial => 'home/memorial/new_memorial') %>
          </div>
      <% else %>
          <div class="col-md-12">
            Você deve logar antes de prosseguir com o cadastro do memorial
          </div>
      <% end %>

    </div>
    <div class="tab-pane fade" id="biografia_fotos">
      <h4>Biografia e fotos</h4>

      <% if user_signed_in? %>
          <div class="col-md-12">
            Este memorial será registrado para o usuário: <%= current_user.name %> (<%= current_user.email %>)
            <hr class="devider devider-dotted">
            <%= render(:partial => 'home/memorial/new_memorial_bio_photos') %>
          </div>
      <% else %>
          <div class="col-md-12">
            Você deve logar antes de prosseguir com o cadastro do memorial
          </div>
      <% end %>

    </div>
    <div class="tab-pane fade" id="memorial_plan">
      <h4>Escolha o plano do Memorial</h4>
      <%= render(:partial => 'home/memorial/select_memorial_plan') %>
    </div>
  </div>
</div>



