<% content_for :title, 'Planos' %>
<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Planos' %></li>
<% end %>

<%=render partial: 'home/plans'%>