<% content_for :title, 'Política de Privacidade' %>
<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Política de Privacidade' %></li>
<% end %>

<p><span style="font-weight: 400;">Bem-vindo &agrave; Pol&iacute;tica de Privacidade do Memorial Vivo</span></p>
<p><span style="font-weight: 400;">Esta Pol&iacute;tica de Privacidade destina-se a ajudar o usu&aacute;rio a compreender os dados que recolhemos, o motivo para o fazermos e o que fazemos com esses dados. Este assunto &eacute; importante e esperamos que o leia atentamente.</span></p>
<p><span style="font-weight: 400;">Pol&iacute;tica de Privacidade</span></p>
<p><span style="font-weight: 400;">Os nossos servi&ccedil;os podem ser utilizados de muitas formas diferentes &ndash; para pesquisar e partilhar informa&ccedil;&otilde;es, comunicar com outras pessoas ou criar novos conte&uacute;dos. Quando partilha informa&ccedil;&otilde;es conosco d&aacute;-nos a possibilidade de melhorar ainda mais esses servi&ccedil;os, para o ajudar a estabelecer contato com as pessoas e a tornar o compartilhamento com os outros mais f&aacute;cil e r&aacute;pida. &Agrave; medida que utiliza os nossos servi&ccedil;os, queremos que esteja perfeitamente ciente da forma como utilizamos as informa&ccedil;&otilde;es e dos meios de que disp&otilde;e para proteger a sua privacidade.</span></p>
<p><span style="font-weight: 400;">A nossa Pol&iacute;tica de Privacidade explica:</span></p>
<ul>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Que informa&ccedil;&otilde;es recolhemos e porque o fazemos.</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">Como utilizamos essas informa&ccedil;&otilde;es.</span></li>
  <li style="font-weight: 400;"><span style="font-weight: 400;">As op&ccedil;&otilde;es que disponibilizamos.</span></li>
</ul>
<p><span style="font-weight: 400;">Tentamos manter o processo o mais simplificado poss&iacute;vel. O Memorial Vivo preza a sua privacidade, por isso, quer seja um usu&aacute;rio recente ou de longa data, dedique algum tempo a conhecer as nossas pr&aacute;ticas e, se tiver d&uacute;vidas, contacte-nos.</span></p>
<p><span style="font-weight: 400;">Informa&ccedil;&otilde;es que recolhemos</span></p>
<p><span style="font-weight: 400;">Recolhemos informa&ccedil;&otilde;es para prestar melhores servi&ccedil;os a todos os nossos usu&aacute;rios, desde perceber par&acirc;metros b&aacute;sicos at&eacute; condi&ccedil;&otilde;es mais complexas.</span></p>
<p><span style="font-weight: 400;">Recolhemos informa&ccedil;&otilde;es das seguintes formas:</span></p>
<p><span style="font-weight: 400;">Informa&ccedil;&otilde;es fornecidas pelo usu&aacute;rio. Por exemplo, quando da inscri&ccedil;&atilde;o, solicitamos informa&ccedil;&otilde;es pessoais, como o nome, o endere&ccedil;o de email, o n&uacute;mero de telefone. Para que o usu&aacute;rio possa tirar o m&aacute;ximo proveito das funcionalidades que disponibilizamos, podemos solicitar-lhe que crie um Perfil publicamente vis&iacute;vel, que pode incluir o nome e a foto.</span></p>
<p><span style="font-weight: 400;">As informa&ccedil;&otilde;es que recolhemos da sua utiliza&ccedil;&atilde;o dos nossos servi&ccedil;os. Recolhemos informa&ccedil;&otilde;es acerca dos servi&ccedil;os que utiliza e da forma como os utiliza, como quando v&ecirc; um v&iacute;deo, v&ecirc; e interage com os nossos an&uacute;ncios e os nossos conte&uacute;dos. Estas informa&ccedil;&otilde;es incluem:</span></p>
<p><span style="font-weight: 400;">Informa&ccedil;&otilde;es do dispositivo</span></p>
<p><span style="font-weight: 400;">Recolhemos informa&ccedil;&otilde;es espec&iacute;ficas do dispositivo (como o seu modelo de hardware, a vers&atilde;o do sistema operativo, os identificadores de dispositivo exclusivo, bem como informa&ccedil;&otilde;es da rede m&oacute;vel, incluindo o n&uacute;mero do celular).</span></p>
<p><span style="font-weight: 400;">Informa&ccedil;&otilde;es de registo</span></p>
<p><span style="font-weight: 400;">Quando utiliza os nossos servi&ccedil;os ou v&ecirc; conte&uacute;dos fornecidos pelo Memorial Vivo, recolhemos e armazenamos automaticamente algumas informa&ccedil;&otilde;es em registos do servidor. Isto inclui:</span></p>
<p><span style="font-weight: 400;">detalhes sobre como s&atilde;o utilizados os servi&ccedil;os, tais como consultas de pesquisa.</span></p>
<p><span style="font-weight: 400;">Endere&ccedil;o IP.</span></p>
<p><span style="font-weight: 400;">informa&ccedil;&otilde;es de eventos do aparelho, tais como falhas, atividades do sistema, defini&ccedil;&otilde;es de hardware, tipo de navegador, idioma do navegador, data e hora do pedido e URL de refer&ecirc;ncia.</span></p>
<p><span style="font-weight: 400;">Informa&ccedil;&otilde;es de localiza&ccedil;&atilde;o</span></p>
<p><span style="font-weight: 400;">Quando utiliza servi&ccedil;os Memorial Vivo, podemos recolher e processar informa&ccedil;&otilde;es acerca da sua localiza&ccedil;&atilde;o atual. Utilizamos v&aacute;rias tecnologias para determinar a localiza&ccedil;&atilde;o, incluindo o endere&ccedil;o IP, o GPS e outros sensores. </span></p>
<p><span style="font-weight: 400;">N&uacute;meros de aplica&ccedil;&otilde;es exclusivos</span></p>
<p><span style="font-weight: 400;">Alguns servi&ccedil;os incluem um n&uacute;mero de aplica&ccedil;&atilde;o exclusivo. Este n&uacute;mero e as informa&ccedil;&otilde;es acerca da instala&ccedil;&atilde;o (por exemplo, o tipo de sistema operativo e o n&uacute;mero da vers&atilde;o da aplica&ccedil;&atilde;o) poder&atilde;o ser enviados para a Google quando o servi&ccedil;o &eacute; instalado ou desinstalado ou quando o servi&ccedil;o contacta periodicamente os nossos servidores, por exemplo, para efetuar atualiza&ccedil;&otilde;es autom&aacute;ticas.</span></p>
<p><span style="font-weight: 400;">Armazenamento local</span></p>
<p><span style="font-weight: 400;">Poderemos recolher e armazenar informa&ccedil;&otilde;es (incluindo dados pessoais) localmente no dispositivo do usu&aacute;rio atrav&eacute;s de mecanismos como o armazenamento Web do navegador &nbsp;e caches de dados de aplica&ccedil;&otilde;es.</span></p>
<p><span style="font-weight: 400;">Cookies e tecnologias semelhantes</span></p>
<p><span style="font-weight: 400;">O Memorial Vivo e os respetivos parceiros utilizam v&aacute;rias tecnologias para recolher e armazenar informa&ccedil;&otilde;es e isto pode incluir a utiliza&ccedil;&atilde;o de cookies ou tecnologias semelhantes para identificar o respetivo navegador ou dispositivo. O Memorial Vivo utiliza igualmente estas tecnologias para recolher e armazenar informa&ccedil;&otilde;es quando o usu&aacute;rio interage com servi&ccedil;os disponibilizados aos respetivos parceiros, como servi&ccedil;os de publicidade ou funcionalidades que podem surgir noutros sites. </span></p>
<p><span style="font-weight: 400;">O Memorial Vivo trata todas as informa&ccedil;&otilde;es associadas &agrave; Conta como informa&ccedil;&otilde;es pessoais. </span></p>
<p><span style="font-weight: 400;">Como utilizamos as informa&ccedil;&otilde;es que recolhemos</span></p>
<p><span style="font-weight: 400;">Utilizamos as informa&ccedil;&otilde;es que recolhemos a partir de todos os nossos servi&ccedil;os para disponibilizar, manter, proteger e melhorar esses servi&ccedil;os e desenvolver novos servi&ccedil;os, bem como para proteger o Memorial Vivo e os seus usu&aacute;rioes. Utilizamos igualmente estas informa&ccedil;&otilde;es para oferecer conte&uacute;do personalizado ao apresentar, por exemplo, an&uacute;ncios e resultados da pesquisa mais relevantes.</span></p>
<p><span style="font-weight: 400;">Quando contacta o Memorial Vivo, mantemos registo das suas comunica&ccedil;&otilde;es para ajudar a resolver quaisquer problemas com que se possa estar a deparar. Podemos utilizar o seu endere&ccedil;o de email para lhe enviar informa&ccedil;&otilde;es acerca dos nossos servi&ccedil;os, comunicando-lhe, por exemplo, altera&ccedil;&otilde;es ou melhorias futuras.</span></p>
<p><span style="font-weight: 400;">Utilizamos informa&ccedil;&otilde;es recolhidas de cookies e de outras tecnologias como etiquetas de pixels para melhorar a experi&ecirc;ncia de uso e a qualidade global dos nossos servi&ccedil;os. Quando apresentamos an&uacute;ncios personalizados, n&atilde;o associamos um identificador proveniente de cookies ou de tecnologias semelhantes a categorias sens&iacute;veis, como as baseadas na ra&ccedil;a, na religi&atilde;o, na orienta&ccedil;&atilde;o sexual ou na sa&uacute;de.</span></p>
<p><span style="font-weight: 400;">Os nossos sistemas automatizados analisam o seu conte&uacute;do (incluindo emails) para lhe fornecer funcionalidades personalizadas relevantes do produto, como resultados da pesquisa personalizados, an&uacute;ncios adaptados &agrave;s suas necessidades e detec&ccedil;&atilde;o de spam e programas maliciosos.</span></p>
<p><span style="font-weight: 400;">Solicitaremos o consentimento do usu&aacute;rio antes de utilizarmos informa&ccedil;&otilde;es para outros fins para al&eacute;m dos previstos na presente Pol&iacute;tica de Privacidade.</span></p>
<p><span style="font-weight: 400;">O Memorial Vivo poder&aacute; processar informa&ccedil;&otilde;es pessoais de um usu&aacute;rio num servidor localizado fora do pa&iacute;s de resid&ecirc;ncia.</span></p>
<p><span style="font-weight: 400;">Transpar&ecirc;ncia e escolha</span></p>
<p><span style="font-weight: 400;">As pessoas t&ecirc;m diferentes preocupa&ccedil;&otilde;es de privacidade. O nosso objetivo &eacute; sermos totalmente transparentes acerca das informa&ccedil;&otilde;es que recolhemos, para que o usu&aacute;rio possa fazer escolhas conscientes em rela&ccedil;&atilde;o ao modo como essas informa&ccedil;&otilde;es s&atilde;o utilizadas.</span></p>
<p><span style="font-weight: 400;">Informa&ccedil;&otilde;es partilhadas pelo usu&aacute;rio</span></p>
<p><span style="font-weight: 400;">Muitos dos nossos servi&ccedil;os permitem ao usu&aacute;rio compartilhar informa&ccedil;&otilde;es com outras pessoas. &Eacute; necess&aacute;rio n&atilde;o esquecer que, ao compartilhar informa&ccedil;&otilde;es publicamente, essas informa&ccedil;&otilde;es poder&atilde;o ser indexadas por motores de pesquisa. Os nossos servi&ccedil;os disponibilizam diferentes op&ccedil;&otilde;es de partilha e remo&ccedil;&atilde;o de conte&uacute;do.</span></p>
<p><span style="font-weight: 400;">Acesso e atualiza&ccedil;&atilde;o de informa&ccedil;&otilde;es pessoais do usu&aacute;rio</span></p>
<p><span style="font-weight: 400;">Sempre que utilizar os nossos servi&ccedil;os, pretendemos que tenha acesso &agrave;s suas informa&ccedil;&otilde;es pessoais. Trabalhamos no sentido de, no caso de essas informa&ccedil;&otilde;es n&atilde;o estarem corretas, proporcionarmos ao usu&aacute;rio formas de as atualizar ou eliminar, a menos que precisemos de as manter para fins comerciais leg&iacute;timos ou judiciais. Quando um usu&aacute;rio atualiza informa&ccedil;&otilde;es pessoais, poderemos solicitar-lhe que confirme a sua identidade antes de processarmos o seu pedido.</span></p>
<p><span style="font-weight: 400;">Poderemos recusar pedidos demasiado repetitivos, que exijam um esfor&ccedil;o t&eacute;cnico desproporcionado, que prejudiquem a privacidade de terceiros ou que sejam extremamente dif&iacute;ceis de concretizar.</span></p>
<p><span style="font-weight: 400;">Nos casos em que nos seja poss&iacute;vel fornecer acesso a informa&ccedil;&otilde;es e efetuar corre&ccedil;&otilde;es, faremos gratuitamente, salvo se tal exigir um esfor&ccedil;o desproporcionado. Pretendemos manter os nossos servi&ccedil;os de forma a proteger as informa&ccedil;&otilde;es de destrui&ccedil;&atilde;o acidental ou maliciosa. Nesta conformidade, depois de o usu&aacute;rio eliminar informa&ccedil;&otilde;es dos nossos servi&ccedil;os, poderemos n&atilde;o eliminar de imediato as c&oacute;pias residuais dos nossos servidores ativos e poderemos n&atilde;o remover as informa&ccedil;&otilde;es dos nossos sistemas de c&oacute;pia de seguran&ccedil;a.</span></p>
<p><span style="font-weight: 400;">Informa&ccedil;&otilde;es que partilhamos</span></p>
<p><span style="font-weight: 400;">N&atilde;o partilhamos informa&ccedil;&otilde;es pessoais com empresas, entidades e indiv&iacute;duos externos ao Memorial Vivo, exceto nas seguintes circunst&acirc;ncias:</span></p>
<p><span style="font-weight: 400;">Com o consentimento do usu&aacute;rio</span></p>
<p><span style="font-weight: 400;">Partilharemos informa&ccedil;&otilde;es pessoais com empresas, organiza&ccedil;&otilde;es e indiv&iacute;duos externos ao Memorial Vivo se tivermos o consentimento do usu&aacute;rio para o fazer. Solicitamos o consentimento expresso para o compartilhamento de qualquer informa&ccedil;&atilde;o pessoal sens&iacute;vel.</span></p>
<p><span style="font-weight: 400;">Para processamento externo</span></p>
<p><span style="font-weight: 400;">Fornecemos informa&ccedil;&otilde;es pessoais &agrave;s nossas filiais ou outras empresas ou pessoas fidedignas para efeitos de processamento, com base nas nossas instru&ccedil;&otilde;es e em conformidade com a nossa Pol&iacute;tica de Privacidade e quaisquer outras medidas de seguran&ccedil;a e confidencialidade aplic&aacute;veis.</span></p>
<p><span style="font-weight: 400;">Por motivos legais</span></p>
<p><span style="font-weight: 400;">Compartilharemos informa&ccedil;&otilde;es com empresas, organiza&ccedil;&otilde;es ou indiv&iacute;duos externos ao Memorial Vivo se acreditarmos de boa f&eacute; que o acesso, a utiliza&ccedil;&atilde;o e a preserva&ccedil;&atilde;o ou divulga&ccedil;&atilde;o dessas informa&ccedil;&otilde;es &eacute; razoavelmente necess&aacute;ria para:</span></p>
<p><span style="font-weight: 400;">cumprir qualquer lei, regulamento, processo legal ou pedido execut&oacute;rio de organismo ou de entidade do Estado aplic&aacute;vel.</span></p>
<p><span style="font-weight: 400;">executar os Termos de Utiliza&ccedil;&atilde;o, incluindo a investiga&ccedil;&atilde;o de potenciais viola&ccedil;&otilde;es dos mesmos.</span></p>
<p><span style="font-weight: 400;">detectar, impedir ou de outra forma, resolver problemas t&eacute;cnicos, de fraude ou seguran&ccedil;a.</span></p>
<p><span style="font-weight: 400;">proteger contra danos os direitos, a propriedade ou a seguran&ccedil;a do Memorial Vivo, dos seus usu&aacute;rios ou do p&uacute;blico, nos termos exigidos ou permitidos por lei.</span></p>
<p><span style="font-weight: 400;">Podemos compartilhar informa&ccedil;&otilde;es que n&atilde;o contenham dados de identifica&ccedil;&atilde;o pessoal publicamente e com os nossos parceiros, como publicadores, anunciantes ou sites associados. Por exemplo, podemos compartilhar informa&ccedil;&otilde;es publicamente para mostrar tend&ecirc;ncias em rela&ccedil;&atilde;o &agrave; utiliza&ccedil;&atilde;o geral dos nossos servi&ccedil;os.</span></p>
<p><span style="font-weight: 400;">Se o Memorial Vivo se envolver num processo de fus&atilde;o, aquisi&ccedil;&atilde;o ou vendas de ativos, continuaremos a garantir a confidencialidade de todas as informa&ccedil;&otilde;es pessoais e notificaremos os usu&aacute;rios afetados antes das informa&ccedil;&otilde;es pessoais serem transferidas ou ficarem sujeitas a uma pol&iacute;tica de privacidade diferente.</span></p>
<p><span style="font-weight: 400;">Seguran&ccedil;a das informa&ccedil;&otilde;es</span></p>
<p><span style="font-weight: 400;">Trabalhamos arduamente no sentido de proteger o Memorial Vivo e os nossos usu&aacute;rios de acesso n&atilde;o autorizado a ou altera&ccedil;&atilde;o, divulga&ccedil;&atilde;o ou destrui&ccedil;&atilde;o n&atilde;o autorizadas de informa&ccedil;&otilde;es que se encontram na nossa posse. Concretamente:</span></p>
<p><span style="font-weight: 400;">Criptografamos muitos dos nossos servi&ccedil;os.</span></p>
<p><span style="font-weight: 400;">Revemos a nossas pr&aacute;ticas de recolha, processamento e armazenamento de informa&ccedil;&otilde;es, incluindo medidas de seguran&ccedil;a f&iacute;sicas, para proteger contra acesso n&atilde;o autorizado aos sistemas</span></p>
<p><span style="font-weight: 400;">Restringimos o acesso a informa&ccedil;&otilde;es pessoais a funcion&aacute;rios, contratantes e agentes do Memorial Vivo que precisam de saber essas informa&ccedil;&otilde;es para efeitos de processamento e que est&atilde;o sujeitos a obriga&ccedil;&otilde;es estritas de confidencialidade contratual, podendo ser objeto de processo disciplinar ou rescis&atilde;o contratual em caso de descumprimento das referidas obriga&ccedil;&otilde;es.</span></p>
<p><span style="font-weight: 400;">Quando &eacute; aplic&aacute;vel esta Pol&iacute;tica de Privacidade</span></p>
<p><span style="font-weight: 400;">A nossa Pol&iacute;tica de Privacidade aplica-se a todos os servi&ccedil;os fornecidos pelo Memorial Vivo e respectivos afiliados, bem como servi&ccedil;os fornecidos pelo Memorial Vivo em dispositivos Android e servi&ccedil;os fornecidos noutros sites, mas exclui os servi&ccedil;os que tenham Pol&iacute;ticas de Privacidade separadas que n&atilde;o integrem esta Pol&iacute;tica de Privacidade.</span></p>
<p><span style="font-weight: 400;">A nossa Pol&iacute;tica de Privacidade n&atilde;o se aplica a servi&ccedil;os disponibilizados por outras empresas ou indiv&iacute;duos. A nossa Pol&iacute;tica de Privacidade n&atilde;o abrange as pr&aacute;ticas relativas a informa&ccedil;&otilde;es de outras empresas e organiza&ccedil;&otilde;es que anunciam os nossos servi&ccedil;os e que poder&atilde;o utilizar cookies, etiquetas de pixels e outras tecnologias para publicar e disponibilizar an&uacute;ncios relevantes.</span></p>
<p><span style="font-weight: 400;">Conformidade e coopera&ccedil;&atilde;o com as autoridades regulamentares</span></p>
<p><span style="font-weight: 400;">Avaliamos regularmente a nossa conformidade com a nossa Pol&iacute;tica de Privacidade. Quando recebemos acusa&ccedil;&otilde;es formais por escrito, entramos em contato com o reclamante para dar seguimento ao processo. Colaboramos com as autoridades regulamentares competentes, incluindo as autoridades locais de prote&ccedil;&atilde;o de dados, para resolu&ccedil;&atilde;o de quaisquer acusa&ccedil;&otilde;es relativas a transfer&ecirc;ncia de dados pessoais que n&atilde;o consigamos resolver diretamente com os nossos usu&aacute;rios.</span></p>
<p><span style="font-weight: 400;">Altera&ccedil;&otilde;es</span></p>
<p><strong><span style="font-weight: 400;">A nossa Pol&iacute;tica de Privacidade pode ser alterada periodicamente. Qualquer altera&ccedil;&atilde;o &agrave; pol&iacute;tica de privacidade ser&aacute; publicada nesta p&aacute;gina e, se as altera&ccedil;&otilde;es forem significativas, providenciaremos um aviso mais destacado (incluindo, para determinados servi&ccedil;os, notifica&ccedil;&atilde;o por e-mail de altera&ccedil;&otilde;es &agrave; pol&iacute;tica de privacidade).</span></strong></p>