<% content_for :title, 'Termos de Serviços' %>

<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Termos de Serviço' %></li>
<% end %>

<p><span style="font-weight: 400;">Agradecemos por usar nossos servi&ccedil;os. Os Servi&ccedil;os ser&atilde;o fornecidos pelo Memorial Vivo.</span></p>
<p><span style="font-weight: 400;"> Ao usar nossos Servi&ccedil;os, voc&ecirc; est&aacute; concordando com estes termos. Leia-os com aten&ccedil;&atilde;o.</span></p>
<p><span style="font-weight: 400;">Nossos Servi&ccedil;os s&atilde;o muito diversos, portanto, &agrave;s vezes, podem aplicar-se termos adicionais ou exig&ecirc;ncias de produtos (inclusive exig&ecirc;ncias de idade). Os termos adicionais estar&atilde;o dispon&iacute;veis com os Servi&ccedil;os relevantes e esses termos adicionais se tornar&atilde;o parte de nosso contrato com voc&ecirc;, caso voc&ecirc; use esses Servi&ccedil;os.</span></p>
<p><span style="font-weight: 400;">Como usar nossos Servi&ccedil;os</span></p>
<p><span style="font-weight: 400;">&Eacute; preciso que voc&ecirc; siga as pol&iacute;ticas disponibilizadas a voc&ecirc; dentro dos Servi&ccedil;os.</span></p>
<p><span style="font-weight: 400;">N&atilde;o fa&ccedil;a uso indevido de nossos Servi&ccedil;os. Por exemplo, n&atilde;o interfira com nossos Servi&ccedil;os nem tente acess&aacute;-los por um m&eacute;todo diferente da interface e das instru&ccedil;&otilde;es que fornecemos. Voc&ecirc; pode usar nossos servi&ccedil;os somente conforme permitido por lei, inclusive leis e regulamentos de controle de exporta&ccedil;&atilde;o e reexporta&ccedil;&atilde;o. Podemos suspender ou deixar de fornecer nossos Servi&ccedil;os se voc&ecirc; descumprir nossos termos ou pol&iacute;ticas ou se estivermos investigando casos de suspeita de m&aacute; conduta.</span></p>
<p><span style="font-weight: 400;">O uso de nossos Servi&ccedil;os n&atilde;o lhe confere a propriedade sobre direitos de propriedade intelectual sobre os nossos Servi&ccedil;os ou sobre o conte&uacute;do que voc&ecirc; acessar. Voc&ecirc; n&atilde;o pode usar conte&uacute;dos de nossos Servi&ccedil;os a menos que obtenha permiss&atilde;o do propriet&aacute;rio de tais conte&uacute;dos ou que o fa&ccedil;a por algum meio permitido por lei. Estes termos n&atilde;o conferem a voc&ecirc; o direito de usar quaisquer marcas ou logotipos utilizados em nossos Servi&ccedil;os. N&atilde;o remova, oculte ou altere quaisquer avisos legais exibidos em ou junto a nossos Servi&ccedil;os.</span></p>
<p><span style="font-weight: 400;">Nossos Servi&ccedil;os exibem alguns conte&uacute;dos que n&atilde;o s&atilde;o do Memorial Vivo. Esses conte&uacute;dos s&atilde;o de exclusiva responsabilidade da entidade que os disponibiliza. Podemos revisar conte&uacute;do para determinar se &eacute; ilegal ou se infringe nossas pol&iacute;ticas, e podemos remover ou nos recusar a exibir conte&uacute;dos que razoavelmente acreditamos violar nossas pol&iacute;ticas ou a lei. Mas isso n&atilde;o significa, necessariamente, que revisaremos conte&uacute;dos, portanto por favor, n&atilde;o presuma que o faremos.</span></p>
<p><span style="font-weight: 400;">Em rela&ccedil;&atilde;o com seu uso dos Servi&ccedil;os, podemos enviar-lhe an&uacute;ncios de servi&ccedil;os, mensagens administrativas e outras informa&ccedil;&otilde;es. Voc&ecirc; pode desativar algumas dessas comunica&ccedil;&otilde;es.</span></p>
<p><span style="font-weight: 400;">Alguns dos nossos Servi&ccedil;os est&atilde;o dispon&iacute;veis em dispositivos m&oacute;veis. O usu&aacute;rio n&atilde;o deve utilizar tais Servi&ccedil;os de forma que o distraia ou o impe&ccedil;a de cumprir leis de tr&acirc;nsito ou de seguran&ccedil;a.</span></p>
<p><strong><strong>&nbsp;</strong></strong></p>
<p><span style="font-weight: 400;">Sua Conta do Memorial Vivo</span></p>
<p><span style="font-weight: 400;">Voc&ecirc; precisa criar uma Conta Memorial Vivo para utilizar alguns dos nossos Servi&ccedil;os. Se voc&ecirc; estiver usando uma Conta do Memorial Vivo atribu&iacute;da a voc&ecirc; por um administrador, termos diferentes ou adicionais podem aplicar-se e seu administrador poder&aacute; ser capaz de acessar ou desativar sua conta.</span></p>
<p><span style="font-weight: 400;">Para proteger sua Conta do Memorial Vivo, o usu&aacute;rio deve manter a senha em sigilo. A atividade realizada na Conta do Memorial Vivo ou por seu interm&eacute;dio &eacute; de responsabilidade do usu&aacute;rio. N&atilde;o recomendamos que a senha da Conta do Memorial Vivo seja reutilizada em aplicativos de terceiros. Caso tome conhecimento de uso n&atilde;o autorizado da sua senha ou Conta do Memorial Vivo, o usu&aacute;rio deve seguir estas instru&ccedil;&otilde;es.</span></p>
<p><span style="font-weight: 400;">Prote&ccedil;&atilde;o &agrave; Privacidade e aos Direitos Autorais</span></p>
<p><span style="font-weight: 400;">As Pol&iacute;ticas de Privacidade do Memorial Vivo explicam o modo como tratamos seus dados pessoais e protegemos sua privacidade quando voc&ecirc; usa nossos Servi&ccedil;os. Ao utilizar nossos Servi&ccedil;os, voc&ecirc; concorda que o Memorial Vivo poder&aacute; usar esses dados de acordo com nossas pol&iacute;ticas de privacidade.</span></p>
<p><span style="font-weight: 400;">N&oacute;s respondemos &agrave;s notifica&ccedil;&otilde;es de alega&ccedil;&atilde;o de viola&ccedil;&atilde;o de direitos autorais e encerramos contas de infratores reincidentes de acordo com os procedimentos estabelecidos na Lei.</span></p>
<p><span style="font-weight: 400;">Fornecemos informa&ccedil;&otilde;es para ajudar os detentores de direitos autorais a gerenciarem sua propriedade intelectual on-line. Caso voc&ecirc; entenda que algu&eacute;m est&aacute; violando seus direitos autorais e quiser nos notificar, voc&ecirc; pode encontrar informa&ccedil;&otilde;es sobre o envio de notifica&ccedil;&otilde;es e sobre a pol&iacute;tica do Memorial Vivo para respond&ecirc;-las em nossa Central de Ajuda.</span></p>
<p><span style="font-weight: 400;">Seu Conte&uacute;do em nossos Servi&ccedil;os</span></p>
<p><span style="font-weight: 400;">Alguns de nossos Servi&ccedil;os permitem que voc&ecirc; fa&ccedil;a upload, submeta, armazene, envie ou receba conte&uacute;do. Voc&ecirc; mant&eacute;m a propriedade de quaisquer direitos de propriedade intelectual que voc&ecirc; detenha sobre aquele conte&uacute;do. Em resumo, aquilo que pertence a voc&ecirc;, permanece com voc&ecirc;.</span></p>
<p><span style="font-weight: 400;">Quando voc&ecirc; faz upload, submete, armazena, envia ou recebe conte&uacute;do a nossos Servi&ccedil;os ou por meio deles, voc&ecirc; concede ao Memorial Vivo (e &agrave;queles com quem trabalhamos) uma licen&ccedil;a mundial para usar, hospedar, armazenar, reproduzir, modificar, criar obras derivadas (como aquelas resultantes de tradu&ccedil;&otilde;es, adapta&ccedil;&otilde;es ou outras altera&ccedil;&otilde;es que fazemos para que seu conte&uacute;do funcione melhor com nossos Servi&ccedil;os), comunicar, publicar, executar e exibir publicamente e distribuir tal conte&uacute;do. Os direitos que voc&ecirc; concede nesta licen&ccedil;a s&atilde;o para os fins restritos de opera&ccedil;&atilde;o, promo&ccedil;&atilde;o e melhoria de nossos Servi&ccedil;os e de desenvolver novos Servi&ccedil;os. Essa licen&ccedil;a perdura mesmo que voc&ecirc; deixe de usar nossos Servi&ccedil;os. Alguns Servi&ccedil;os podem oferecer-lhe modos de acessar e remover conte&uacute;dos que foram fornecidos para aquele Servi&ccedil;o. Al&eacute;m disso, em alguns de nossos Servi&ccedil;os, existem termos ou configura&ccedil;&otilde;es que restringem o escopo de nosso uso do conte&uacute;do enviado nesses Servi&ccedil;os. Certifique-se de que voc&ecirc; tem os direitos necess&aacute;rios para nos conceder a licen&ccedil;a de qualquer conte&uacute;do que voc&ecirc; enviar a nossos Servi&ccedil;os.</span></p>
<p><span style="font-weight: 400;">Nossos sistemas automatizados analisam o seu conte&uacute;do (incluindo e-mails) para fornecer recursos de produtos pessoalmente relevantes para voc&ecirc;, como resultados de pesquisa customizados, propagandas personalizadas e detec&ccedil;&atilde;o de spam e malware. Essa an&aacute;lise ocorre &agrave; medida que o conte&uacute;do &eacute; enviado e recebido, e quando ele &eacute; armazenado.</span></p>
<p><span style="font-weight: 400;">Voc&ecirc; pode encontrar mais informa&ccedil;&otilde;es sobre como o Memorial Vivo usa e armazena conte&uacute;do na pol&iacute;tica de privacidade. Se voc&ecirc; enviar coment&aacute;rios ou sugest&otilde;es sobre nossos Servi&ccedil;os, podemos usar seus coment&aacute;rios ou sugest&otilde;es sem obriga&ccedil;&atilde;o para voc&ecirc;.</span></p>
<p><span style="font-weight: 400;">Sobre Software em nossos Servi&ccedil;os</span></p>
<p><span style="font-weight: 400;">Quando um Servi&ccedil;o exige ou inclui software dispon&iacute;vel para download, tal software poder&aacute; atualizar-se automaticamente em seu dispositivo se uma nova vers&atilde;o ou recurso estiver dispon&iacute;vel. Alguns Servi&ccedil;os podem permitir que voc&ecirc; ajuste suas configura&ccedil;&otilde;es de atualiza&ccedil;&otilde;es autom&aacute;ticas.</span></p>
<p><span style="font-weight: 400;">O Memorial Vivo concede a voc&ecirc; uma licen&ccedil;a pessoal, mundial, n&atilde;o exclusiva, intransfer&iacute;vel e isenta de royalties para o uso do software fornecido pelo Memorial Vivo como parte dos Servi&ccedil;os. Essa licen&ccedil;a tem como &uacute;nico objetivo permitir que voc&ecirc; use e aproveite o benef&iacute;cio dos Servi&ccedil;os, tal como fornecidos pelo Memorial Vivo, da forma permitida por estes termos. Voc&ecirc; n&atilde;o poder&aacute; copiar, modificar, distribuir, vender ou alugar qualquer parte de nossos Servi&ccedil;os ou o software incluso, nem poder&aacute; fazer engenharia reversa ou tentar extrair o c&oacute;digo fonte desse software, exceto nos casos em que a legisla&ccedil;&atilde;o proibir tais restri&ccedil;&otilde;es, ou quando voc&ecirc; tiver nossa permiss&atilde;o por escrito.</span></p>
<p><span style="font-weight: 400;">Como modificar e cancelar nossos Servi&ccedil;os</span></p>
<p><span style="font-weight: 400;">Estamos constantemente alterando e melhorando nossos Servi&ccedil;os. Podemos incluir ou remover funcionalidades ou recursos e podemos tamb&eacute;m suspender ou encerrar um Servi&ccedil;o por completo.</span></p>
<p><span style="font-weight: 400;">Voc&ecirc; pode deixar de usar nossos Servi&ccedil;os a qualquer momento, embora fiquemos chateados ao ver voc&ecirc; ir embora. O Memorial Vivo tamb&eacute;m poder&aacute; deixar de prestar os Servi&ccedil;os a voc&ecirc; ou, incluir ou criar novos limites a nossos Servi&ccedil;os a qualquer momento.</span></p>
<p><span style="font-weight: 400;">Acreditamos que voc&ecirc; seja o propriet&aacute;rio dos seus dados e que &eacute; importante preservar seu acesso a esses dados. Se descontinuarmos um Servi&ccedil;o, quando razoavelmente poss&iacute;vel, voc&ecirc; ser&aacute; informado com anteced&ecirc;ncia razo&aacute;vel e ter&aacute; a chance de retirar as suas informa&ccedil;&otilde;es daquele Servi&ccedil;o.</span></p>
<p><span style="font-weight: 400;">Nossas Garantias e Isen&ccedil;&otilde;es de Responsabilidade</span></p>
<p><span style="font-weight: 400;">Fornecemos nossos Servi&ccedil;os usando um n&iacute;vel comercialmente razo&aacute;vel de capacidade e cuidado e esperamos que voc&ecirc; aproveite seu uso deles. Mas existem algumas coisas que n&atilde;o prometemos sobre nossos Servi&ccedil;os.</span></p>
<p><span style="font-weight: 400;">EXCETO QUANDO EXPRESSAMENTE PREVISTO NESTES TERMOS OU EM TERMOS ADICIONAIS, NEM O MEMORIAL VIVO, NEM SEUS FORNECEDORES OU DISTRIBUIDORES OFERECEM QUAISQUER GARANTIAS SOBRE OS SERVI&Ccedil;OS. POR EXEMPLO, N&Atilde;O NOS RESPONSABILIZAMOS PELOS CONTE&Uacute;DOS NOS SERVI&Ccedil;OS, POR FUNCIONALIDADES ESPEC&Iacute;FICAS DO SERVI&Ccedil;O, OU PELA CONFIABILIDADE, DISPONIBILIDADE OU CAPACIDADE DE ATENDER SUAS NECESSIDADES. FORNECEMOS OS SERVI&Ccedil;OS &ldquo;NA FORMA EM QUE EST&Atilde;O&rdquo;.</span></p>
<p><span style="font-weight: 400;">CERTAS JURISDI&Ccedil;&Otilde;ES PREV&Ecirc;EM DETERMINADAS GARANTIAS, COMO A GARANTIA DE COMERCIABILIDADE IMPL&Iacute;CITA, ADEQUA&Ccedil;&Atilde;O A UMA FINALIDADE ESPEC&Iacute;FICA E N&Atilde;O VIOLA&Ccedil;&Atilde;O. NA MEDIDA PERMITIDA POR LEI, EXCLU&Iacute;MOS TODAS AS GARANTIAS.</span></p>
<p><span style="font-weight: 400;">Responsabilidade pelos nossos Servi&ccedil;os</span></p>
<p><span style="font-weight: 400;">QUANDO PERMITIDO POR LEI, O MEMORIAL VIVO E OS FORNECEDORES OU DISTRIBUIDORES DO MEMORIAL VIVO N&Atilde;O SER&Atilde;O RESPONS&Aacute;VEIS POR PERDA DE LUCROS, PERDA DE RECEITA, PERDA DE DADOS, PERDAS FINANCEIRAS OU DANOS INDIRETOS, ESPECIAIS, CONSEQUENCIAIS, EXEMPLARES OU PUNITIVOS.</span></p>
<p><span style="font-weight: 400;">NA MEDIDA PERMITIDA POR LEI, A RESPONSABILIDADE TOTAL DO MEMORIAL VIVO E DE SEUS FORNECEDORES E DISTRIBUIDORES, PARA QUALQUER RECLAMA&Ccedil;&Atilde;O SOB ESTES TERMOS, INCLUINDO QUAISQUER GARANTIAS IMPL&Iacute;CITAS, LIMITA-SE AO VALOR QUE VOC&Ecirc; PAGOU AO MEMORIAL VIVO PARA USAR OS SERVI&Ccedil;OS (OU, A NOSSO CRIT&Eacute;RIO, PARA FORNECER A VOC&Ecirc; OS SERVI&Ccedil;OS NOVAMENTE).</span></p>
<p><span style="font-weight: 400;">EM TODOS OS CASOS, O MEMORIAL VIVO E SEUS FORNECEDORES E DISTRIBUIDORES N&Atilde;O SER&Atilde;O RESPONS&Aacute;VEIS POR QUALQUER PERDA OU DANO QUE N&Atilde;O SEJA RAZOAVELMENTE PREVIS&Iacute;VEL.</span></p>
<p><span style="font-weight: 400;">Usos comerciais de nossos Servi&ccedil;os</span></p>
<p><span style="font-weight: 400;">Se voc&ecirc; estiver usando nossos Servi&ccedil;os em nome de uma empresa, tal empresa aceita estes termos. Ela isentar&aacute; de responsabilidade e indenizar&aacute; o Memorial Vivo e suas afiliadas, executivos, agentes e trabalhadores de qualquer reivindica&ccedil;&atilde;o, processo ou a&ccedil;&atilde;o judicial proveniente de ou relacionado ao uso dos Servi&ccedil;os ou &agrave; viola&ccedil;&atilde;o destes termos, incluindo qualquer responsabilidade ou despesa resultante de reivindica&ccedil;&otilde;es, perdas, danos, processos, julgamentos, custos de lit&iacute;gio e honor&aacute;rios advocat&iacute;cios.</span></p>
<p><span style="font-weight: 400;">Sobre estes Termos</span></p>
<p><span style="font-weight: 400;">Podemos modificar estes termos ou quaisquer termos adicionais que sejam aplic&aacute;veis a um Servi&ccedil;o para, por exemplo, refletir altera&ccedil;&otilde;es da lei ou mudan&ccedil;as em nossos Servi&ccedil;os. Voc&ecirc; deve consultar os termos regularmente. Postaremos avisos sobre modifica&ccedil;&otilde;es nesses termos nesta p&aacute;gina. Publicaremos um aviso de altera&ccedil;&atilde;o sobre os termos adicionais dentro do Servi&ccedil;o aplic&aacute;vel. As altera&ccedil;&otilde;es n&atilde;o ser&atilde;o aplicadas retroativamente e entrar&atilde;o em vigor pelo menos quatorze dias ap&oacute;s sua publica&ccedil;&atilde;o. Entretanto, altera&ccedil;&otilde;es a respeito de novas funcionalidades de um Servi&ccedil;o ou altera&ccedil;&otilde;es feitas por raz&otilde;es legais entrar&atilde;o em vigor imediatamente. Se voc&ecirc; n&atilde;o concordar com os termos alterados de um Servi&ccedil;o, deve descontinuar o uso desse Servi&ccedil;o.</span></p>
<p><span style="font-weight: 400;">Em caso de conflito entre estes termos e os termos adicionais, os termos adicionais prevalecer&atilde;o com rela&ccedil;&atilde;o a esse conflito.</span></p>
<p><span style="font-weight: 400;">Estes termos regem a rela&ccedil;&atilde;o entre o Memorial Vivo e voc&ecirc;. Eles n&atilde;o criam quaisquer direitos para terceiros.</span></p>
<p><span style="font-weight: 400;">Caso voc&ecirc; n&atilde;o cumpra estes termos e n&oacute;s n&atilde;o tomemos provid&ecirc;ncias imediatas, isso n&atilde;o significa que estamos renunciando a quaisquer direitos que possamos ter (como tomar provid&ecirc;ncias futuras).</span></p>
<p><strong><span style="font-weight: 400;">Caso uma condi&ccedil;&atilde;o espec&iacute;fica destes termos n&atilde;o seja execut&aacute;vel, isso n&atilde;o prejudicar&aacute; quaisquer outros termos.</span></strong></p>