/*
*= require dropzone/dist/dropzone
*= require dropzone/dist/basic
*= require admin/dropzone


*= require admin/memorials
*= require bootsy

*= require blueimp-gallery/css/blueimp-gallery
*= require blueimp-gallery/css/blueimp-gallery-indicator

*= require fonts/google_fonts
*= require_self
*/

@import "dependecies/bootstrap_dependency";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import "memorial_buttons";
@import "memorial_site/unify_dependencies";

@import "formvalidation/css/formValidation.min";

@import "pickadate/lib/themes/classic";
@import "pickadate/lib/compressed/themes/classic.date";
@import "pickadate/lib/compressed/themes/classic.time";

.content-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

.breadcrumb li.active, .breadcrumb li a:hover, .breadcrumb li.active a {
  color: #72c02c;
  text-decoration: none;
}

div#error_explanation {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 20px;
  h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
  }
}

.help-block{
  color: #a94442;
}

a.btn-link-red,
a.btn-link-red:hover,
a.btn-link-red:visited {
  color: #a94442;
}



.header-v7 .logo img {
  width: 140px;
}


.thumbnail-style{
  a {
    img{
      width: 100%;
    }
  }
}



.blueimp-gallery > .description {
  position: absolute;
  top: 60px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}

.timeline-v1 .timeline-footer .likes {
  padding-left: 10px;
}

.memorial-photos {
  .title {
    text-overflow: ellipsis;
  }
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}