$brand-new:          #E43C62 !default;
$btn-new-color:               #fff !default;
$btn-new-bg:                  $brand-new !default;
$btn-new-border:              darken($btn-new-bg, 5%) !default;

.btn-new {
  @include button-variant($btn-new-color, $btn-new-bg, $btn-new-border);
}