<% content_for :title, "Convites do Memorial de #{@memorial.title}" %>
<% content_for :navbar do %>
    <li>
      <%= link_to admin_painel_path(memorial_id: @memorial.id) do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Convites', admin_memorial_friends_path(memorial_id: @memorial.id) %></li>
<% end %>
<% content_for :javascript_script_end_page do %>
    <script>
        $(".switch").bootstrapSwitch(
                {
                    onSwitchChange: function (event, state) {
                        obj_teste = this;
                        console.log(this.form.action);
                        $.ajax({
                            method: 'PUT',
                            url: this.form.action,
                            data: {
                                'admin': event.target.checked
                            },
                            dataType: 'json',
//                            success: function(data){
//                            },
                            error: function(data){
                                $(obj_teste).bootstrapSwitch('toggleState', true);
                            }
                        });
                    }
                }
        );
    </script>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@invite, url: admin_memorial_invites_path(memorial_id: @memorial.id), html: {class: 'sky-form form-inline', id: 'sky-form4', novalidate: 'novalidate'}) do |f| %>
        <%= f.hidden_field :memorial_id, :value => @memorial.id %>
        <div class="form-group">
          <label class="input">
            <i class="icon-append fa fa-envelope"></i>
            <%= f.email_field :email, placeholder: 'E-mail' %>
            <b class="tooltip tooltip-bottom-right">Insira o e-mail do seu amigo</b>
          </label>
        </div>
        <button class="btn-u" type="submit">Convidar amigo</button>
    <% end %>
  </div>
</div>

<% if @invites.empty? %>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning fade in">
          <!--<button data-dismiss="alert" class="close" type="button">×</button>-->
          <!--<strong>Here is some more examples without portlets</strong> <br>-->
          <!--You can see more table examples from the bootstrap documentation here <a class="alert-link" target="_blank" href="http://getbootstrap.com/css/#tables">http://getbootstrap.com/css/#tables</a> .-->
          Não há nenhum convite para este memorial
        </div>
      </div>
    </div>

<% else %>
    <% @invites.each do |invite| %>
        <div class="media media-v2">
          <div class="media-body">
            <h4 class="media-heading">
              <strong><a href="#"><%= h invite.email %></a></strong>
              <% if invite.sent?
              %>
                  <small><%= h distance_of_time_in_words(DateTime.now, invite.sent_at, highest_measure_only: true, vague: true) %></small>
              <% end %>
            </h4>
            <% if invite.sent? %>
                <p>Convite enviado por <%= h invite.sender.name %> (<%= h invite.sender.email %>)
                  em <%= h l(invite.sent_at, format: :short) %>
            <% else %>
                <p>Convite a ser enviado por <%= h invite.sender.name %> (<%= h invite.sender.email %>)
            <% end %>
            </p>
            <ul class="list-inline pull-right"><li>
              <form action="<%=admin_memorial_invite_path(memorial_id: invite.memorial_id, id: invite.id)%>" class="sky-form">
                Administrador?
                <input type="checkbox" <%=((invite.admin?) ? 'checked' : '')%> data-toggle="toggle" data-size="mini" data-on-text="SIM" data-off-text="NÃO" class="switch" id="id_<%=invite.id%>">
              </form>
            </li>
              <li><%= link_to admin_memorial_invites_path(memorial_id: @memorial.id, security_invite: {memorial_id: @memorial.id, email: invite.email}), method: :create, data: {confirm: 'Deseja reenviar este convite?'} do %>
                    <i class="expand-list rounded-x fa fa-retweet"></i>
                <% end %>
              </li>
              <li>
                <%= link_to admin_memorial_invite_path(invite, memorial_id: @memorial.id), method: :delete, data: {confirm: 'Deseja cancelar este convite?'} do %>
                    <i class="expand-list rounded-x fa fa-ban"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
    <% end %>
<% end %>
