.admin-memorial-listing {
  p.biography {
    position: relative;
    max-height: 78px; // Four lines
    overflow: hidden;
  }
}

.admin-memorial-form {
  .memorial_memorial_mmry_biografy {
    textarea {

      min-height: 190px;
    }
  }
}

.admin-memorial-photos-thumb {
  padding-bottom: 25px;
}