<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Plano</th>
      <th>Preço</th>
      <th>Desconto</th>
      <th>Qtd</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <%
       current_cart.financial_cart_items.each do |item|
    %>
        <tr>
          <td class="product-in-table">
            <%= image_tag('services.png', class: 'img-responsive') %>

            <div class="product-it-in">
              <h3><%= item.title %></h3>
              <span><%= item.description %></span><br/>
              <% if item.fnnl_cart_item_receiver.present? %>
                  <span>Memorial: <%= item.fnnl_cart_item_receiver.title %></span>
              <% end %>
            </div>
          </td>
          <td>R$ <%= item.price %></td>
          <td>R$ <%= item.discount %></td>
          <td>
            <% if !item.free? %>
                <button type="button" class="quantity-button" name="subtract" onclick="javascript: document.getElementById('qty1').value--;" value="-">-</button>
                <input type="text" class="quantity-field" name="qty1" value="<%= item.quantity %>" id="qty1">
                <button type="button" class="quantity-button" name="add" onclick="javascript: document.getElementById('qty1').value++;" value="+">+</button>
            <% else %>
                <%= item.quantity %>
            <% end %>
          </td>
          <td class="shop-red">R$ <%= item.subtotal %></td>
          <td>
            <button type="button" class="close"><span>×</span><span class="sr-only">Close</span></button>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>