<% content_for :title, 'Carrinho de compras' %>
<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Carrinho de compras' %></li>
<% end %>
<% content_for :header_files do %>
    <%= stylesheet_link_tag 'shopping_cart/shopping_cart-jquery.steps' %>
    <%= stylesheet_link_tag 'unify-v1.9.1/E-Commerce/assets/css/shop.style' %>
<% end %>

<%
   @memorial = Memorial::Memorial.new
   @memorial_plans = []
%>


<div class="content-md margin-bottom-30">
  <div class="container">
    <%= form_for current_cart, method: :post, url: pagseguro_checkout_create_path, html: {id: 'id-shopping-cart'} do |f| %>
        <%= f.hidden_field :id, value: current_cart.id %>
        <div>
          <section>
            <div class="table-responsive">
              <%= render(:partial => 'carts/shopping_cart') %>
            </div>
          </section>
          <div class="coupon-code">
            <div class="row">
              <!--<div class="col-sm-4 sm-margin-bottom-30">
                <h3>Código de cupom</h3>

                <p>Digite o código do seu cupom</p>
                <input class="form-control margin-bottom-10" name="code" type="text">
                <button type="button" class="btn-u btn-u-sea-shop">Insira o cupom</button>
              </div>-->
              <div class="col-sm-4 sm-margin-bottom-30">
                <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/assinaturas/209x48-assinar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
              </div>
              <div class="col-sm-3 col-sm-offset-5">
                <ul class="list-inline total-result">
                  <li>
                    <h4>Subtotal:</h4>

                    <div class="total-result-in">
                      <span>R$ <%= current_cart.subtotal %></span>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li class="total-price">
                    <h4>Total:</h4>

                    <div class="total-result-in">
                      <span>R$ <%= current_cart.total %></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


