<!--Start Header-->
<table width="700" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td style="padding: 6px 0px 0px">
      <table width="650" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td width="100%">
            <!--Start logo-->
            <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
              <tr>
                <td class="center" style="padding: 20px 0px 10px 0px">
                  <a href="<%= root_url %>"><img src="<%= image_url('mailer/logo.png') %>"></a>
                </td>
              </tr>
            </table>
            <!--End logo-->
            <!--Start nav-->
            <table border="0" cellpadding="0" cellspacing="0" align="right" class="deviceWidth">
              <tr>
                <td class="center" style="font-size: 13px; color: #272727; font-weight: lighter; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 0px 10px 0px;">
                  <a href="<%= memorial_memorial_url(@invite.memorial.id) %>" style="text-decoration: none; color: #3b3b3b;">MEMORIAL
                    VIVO</a>
                  &nbsp; &nbsp;
                  <a href="<%= memorial_photos_url(@invite.memorial.id) %>" style="text-decoration: none; color: #3b3b3b;">FOTOS</a>
                  &nbsp; &nbsp;
                </td>
              </tr>
            </table>
            <!--End nav-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--End Header-->

<!-- Start Headliner-->
<table

width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td width="100%" valign="top" style="padding: 0px " class="center">
      <a href="#"><img class="deviceWidth" width="700" height="350" src="<%= image_url('mailer/background/flower_white_green.jpg') %>"></a>
    </td>
  </tr>
</table>
<!-- End Headliner-->

<!--Start Discount-->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td width="100%" style=" padding: 20px 0;" align="center" bgcolor="#f7f7f7">
      <!--Left Box-->
      <table border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td valign="top" class="left" style="font-size: 16px; color: #303030; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0 20px 10px 20px;">
            Você foi convidado para o Memorial de
            <a style="text-decoration: none; color: #3498db;" href="<%= memorial_memorial_url(@invite.memorial.id) %>"><%= @invite.memorial.title %></a>
          </td>
        </tr>
      </table>
      <!--End Left Box-->
      <table>
        <tr>
          <td valign="top" style="padding: 7px 15px;  background-color: #3498db; " class="center">
            <a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="<%= @invite_url %>">CLIQUE PARA SEGUIR ESTE MEMORIAL</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--End Discount-->

<!--Start Left Picture-->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td width="100%" bgcolor="#fff">
      <!-- Left box  -->
      <table width="45%" align="left" border="0" cellpadding="0" cellspacing="0" class="deviceWidth">
        <tr>
          <td valign="top" style="padding: 20px 20px">
            <a href="#"><img class="deviceWidth" width="260" hight="190" src="<%= image_url('mailer/flat/block_img/left_picture.jpg') %>"></a>
          </td>
        </tr>
      </table>
      <!--End left box-->
      <!--Right box-->
      <table width="55%" align="left" border="0" cellpadding="0" cellspacing="0" class="deviceWidth">
        <tr>
          <td style="font-size: 16px; color: #303030; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 20px 0px 1px ">
            O que é o Memorial Vivo?
          </td>
        </tr>
        <tr>
          <td style="font-size: 12px; color: #b3b2b2; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0 20px 20px 40px; ">
            É um lugar onde você pode mostrar para todos que você se importa com as pessoas que já partiram. No Memorial
            Vivo Você pode criar uma página para o seu Ente querido, colocar fotos e compartilhar histórias. Você pode
            convidar outras pessoas para conhecer e elas podem interagir mandando fotos, assinando o livro de visitas e
            deixando mensagens de conforto para os familiares.
          </td>
        </tr>
        <tr>
          <td style=" padding: 0 0 20px 0;">
            <table align="center">
              <tr>
                <td valign="top" style="padding: 7px 15px; text-align: center; background-color: #3498db;" class="center">
                  <a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="<%= new_memorial_url %>">Crie
                    um Memorial Vivo</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!--End right box-->
    </td>
  </tr>
</table>
<!--End Left Picture-->

<!--Start Right Picture-->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td width="100%" bgcolor="#f7f7f7">
      <!--Left box-->
      <table width="55%" align="left" border="0" cellpadding="0" cellspacing="0" class="deviceWidth">
        <tr>
          <td style="font-size: 16px; color: #303030; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 10px 0; ">
            Receba notificações
          </td>
        </tr>
        <tr>
          <td style="font-size: 12px; color: #b3b2b2; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px;">
            Nós vamos te lembrar nas datas que mais importam ou quando alguém demonstrar que se importa.
          </td>
        </tr>
        <!--<tr>-->
        <!--<td style=" padding: 0 0 20px 0;">-->
        <!--<table  align="center">-->
        <!--<tr>-->
        <!--<td  valign="top" style="padding: 7px 15px; text-align: center; background-color: #3498db;" class="center">-->
        <!--<a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="#">VIEW MORE</a>-->
        <!--</td>-->
        <!--</tr>-->
        <!--</table>-->
        <!--</td>-->
        <!--</tr>-->
      </table>
      <!--End Left box-->
      <!-- Right box  -->
      <table width="30%" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td valign="top" style="padding: 20px;" class="center">
            <a href="#"><img class="deviceWidth" width="260" hight="190" src="<%= image_url('mailer/flat/block_img/right_picture.jpg') %>"></a>
          </td>
        </tr>
      </table>
      <!--End Right box-->
    </td>
  </tr>
</table>
<!--End Right Picture-->

<!--Start Midlle Picture -->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td width="100%" valign="top" style="padding: 40px 20px 10px " class="center">
      <a href="#"><img class="deviceWidth" width="660" hight="264" src="<%= image_url('mailer/flat/block_img/middle_picture.jpg') %>"></a>
    </td>
  </tr>
  <tr>
    <td class="center">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td class="center" style="font-size: 16px; color: #303030; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 20px 0; ">
            A saudade é a maior prova de que o passado valeu a pena
          </td>
        </tr>
        <tr>
          <td class="center" style="font-size: 12px; color: #b3b2b2; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 20px; ">
            Valorize os que se foram, eles foram parte essencial na construção do que você se tornou.
          </td>
        </tr>
        <tr>
          <td style=" padding: 0 0 20px 20px;">
            <table align="center">
              <tr>
                <td valign="top" style="padding: 7px 15px; text-align: center; background-color: #3498db;" class="center">
                  <a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="<%= root_url %>">MEMORIAL
                    VIVO</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
</table>
<!--End Midlle Picture -->



<!-- Footer -->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 50px 0px 50px; ">
      <a style="text-decoration: none; color: #3498db;" href="<%= root_url %>">Memorial Vivo</a>
      © <%= Date.today.year %>
    </td>
  </tr>
</table>
<!--End Footer-->

<div style="height:15px">&nbsp;</div><!-- divider-->
