<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="error-v1">
      <span class="error-v1-title">500</span>
      <span>Erro de requisição</span>
      <p>Houve um erro no servidor, iremos corrigir em breve.</p>
      <a class="btn-u btn-bordered" href="<%=root_url%>">Voltar para o Memorial Vivo</a>
    </div>
  </div>
</div>