<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="error-v1">
      <span class="error-v1-title">404</span>
      <span>Página não encontrada</span>
      <p>Esta página não existe. É tudo que podemos dizer.</p>
      <a class="btn-u btn-bordered" href="<%=root_url%>">Voltar para o Memorial Vivo</a>
    </div>
  </div>
</div>