<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="error-v1">
      <span class="error-v1-title">422</span>
      <span>Ação não autorizada</span>
      <p>Você não foi autorizado a realizar esta ação.</p>
      <a class="btn-u btn-bordered" href="<%=root_url%>">Voltar para o Memorial Vivo</a>
    </div>
  </div>
</div>