<% content_for :title, 'Settings' %>
<% content_for :navbar do %>
    <li>
      <%= link_to root_path do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Settings', admin_settings_edit_path %></li>
<% end %>
<h1>Admin::Settings#edit</h1>
<p>Find me in app/views/admin/settings/edit.html.erb</p>
