<% content_for :head do %>
<% end %>

<%= render partial: 'memorial/shared/memorial_top' %>


<!-- Container Part -->
<div class="container content-sm">
  <div class="headline-center margin-bottom-40">
    <div class="col-md-12">
      <div class="headline"><h3>Assine o livro de visitas</h3></div>
      <%= link_to memorial_guest_books_path(memorial_id: @memorial.id, memorial_guest_book: {memorial_id: @memorial.id}), method: :create, class: 'btn btn-u margin-bottom-20' do %>
          <i class="fa fa-book"></i> Assine o livro de visitas
      <% end %>

      <button class="btn btn-u margin-bottom-20" type="button" data-toggle="collapse" data-target="#form_guestbook_message">
        <i class="fa fa-commenting-o"></i> Deixe uma mensagem
      </button>
    </div>

    <div class="panel panel-u margin-bottom-20 collapse" id="form_guestbook_message">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tasks"></i> Deixe uma mensagem neste Memorial Vivo</h3>
      </div>
      <div class="panel-body">
        <%= form_for @guest_book, html: {class: 'margin-bottom-10', role: 'form'} do |f| %>
            <div class="form-group">
              <%= f.text_area :guest_book_message, rows: 7, class: 'form-control' %>
            </div>
            <button type="submit" class="btn-u btn-u-lg">Gravar mensagem</button>
        <% end %>
      </div>
    </div>
    <% if flash[:alert].present? %>
        <div class="alert alert-danger fade in alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= flash[:alert] %>
        </div>
    <% end %>
    <hr class="devider devider-dashed">
  </div>
  <div class="headline-center margin-bottom-40">
    <h2>Quem esteve aqui?</h2>

    <p>
    <ul class="timeline-v1">
      <% @guest_books.each do |guest_book| %>
          <li class="<%= cycle('', 'timeline-inverted', name: 'timeline') %>">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
              <!--<div class="timeline-heading">
                <img class="img-responsive" src="assets/img/main/img10.jpg" alt="">
              </div>-->
              <div class="timeline-body">
                <div id="testimonials-6" class="testimonials testimonials-v1">
                  <div class="item">
                    <% if guest_book.guest_book_message %>
                        <p><%= h guest_book.guest_book_message %></p>
                    <% end %>

                    <div class="testimonial-info">
                      <img src="<%= guest_book.user.image.public_url(:thumb) %>" alt="" class="img-responsive img-bordered rounded-x">
											<span class="testimonial-author">
												<%= h guest_book.user.title %>
                                              <em> &nbsp;</em>
											</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="timeline-footer">
                <ul class="list-unstyled list-inline blog-info">
                  <li><i class="fa fa-clock-o"></i> <%= h l(guest_book.created_at, format: :short) %></li>
                  <!--<li><i class="fa fa-comments-o"></i> <a href="#">7 Comments</a></li>-->
                </ul>
                <% if policy(guest_book).destroy? %>
                    <%= link_to memorial_guest_book_path(guest_book, memorial_id: @memorial.id), method: :delete, data: {confirm: 'Deseja remover esta visita?'}, class: 'likes' do %>
                        <i class="fa fa-trash"></i>
                    <% end %>
                <% end %>
                <a class="likes" href="#"><i class="fa fa-heart"></i>0</a>
              </div>
            </div>
          </li>
      <% end %>
      <li class="clearfix" style="float: none;"></li>
    </ul>
    </p>
  </div>
</div>
<!-- End Container Part -->