<% content_for :title, 'Painel' %>
<% content_for :navbar do %>
    <li class="active">
      <%= link_to admin_painel_path(memorial_id: @memorial.id), class: 'active' do %>
          <i class="fa fa-home"></i>
          Painel
      <% end %>
    </li>
<% end %>
<div class="profile-body">
  <!--Service Block v3-->
  <div class="row margin-bottom-10">
    <div class="col-sm-6 sm-margin-bottom-20">
      <div class="service-block-v3 service-block-u">
        <i class="icon-users"></i>
        <span class="service-heading">Visitantes</span>
        <span class="counter">2.147</span>

        <div class="clearfix margin-bottom-10"></div>

        <div class="row margin-bottom-20">
          <div class="col-xs-6 service-in">
            <small>Última semana</small>
            <h4 class="counter">385</h4>
          </div>
          <div class="col-xs-6 text-right service-in">
            <small>Último mês</small>
            <h4 class="counter">1,048</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="service-block-v3 service-block-blue">
        <i class="icon-screen-desktop"></i>
        <span class="service-heading">Homenages</span>
        <span class="counter">156</span>

        <div class="clearfix margin-bottom-10"></div>

        <div class="row margin-bottom-20">
          <div class="col-xs-6 service-in">
            <small>Última semana</small>
            <h4 class="counter">84</h4>
          </div>
          <div class="col-xs-6 text-right service-in">
            <small>Último mês</small>
            <h4 class="counter">266</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/end row-->
  <!--End Service Block v3-->
</div>