<%= form_for(sign_in_user, as: 'user', url: user_session_path, html: {class: 'reg-page', id: 'new_security_user'}) do |f| %>
    <%= hidden_field_tag :invite_token, @token %>
    <div class="reg-header">
      <h2>Já tenho um cadastro</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= link_to user_facebook_omniauth_authorize_path(invite_token: @token), class: 'popup btn btn-block btn-sm btn-facebook-inversed' do %>
            <i class="fa fa-facebook"></i>
            Facebook
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= link_to user_google_oauth2_omniauth_authorize_path(invite_token: @token), class: 'popup btn btn-block btn-sm btn-googleplus-inversed' do %>
            <i class="fa fa-google-plus"></i>
            Google+
        <% end %>
      </div>
    </div>

    <hr class="devider devider-dotted">

    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.email_field :email, class: 'form-control margin-bottom-20', placeholder: 'Email Address' %>
    </div>
    <div class="input-group margin-bottom-20">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control margin-bottom-20' %>
    </div>

    <div class="row">
      <div class="col-md-6 checkbox">
        <label><input type="checkbox"> Stay signed in</label>
      </div>
      <div class="col-md-6">
        <button class="btn-u pull-right" type="submit">Login</button>
      </div>
    </div>

    <hr>

    <h4>Esqueceu a sua senha ?</h4>
    <p>não se preocupe, <%= link_to "clique aqui", new_user_password_path %> para trocar a senha.</p>
<% end %>
