<%= form_for(sign_up_user, as: 'user', url: user_registration_path, html: {class: 'reg-page', id: 'new_security_user'}) do |f| %>
    <%= hidden_field_tag :invite_token, @token %>
    <div class="reg-header">
      <h2>Faça o seu cadastro</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= link_to user_facebook_omniauth_authorize_path(invite_token: @token), class: 'popup btn btn-block btn-sm btn-facebook-inversed' do %>
          <i class="fa fa-facebook"></i>
          Facebook
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= link_to user_google_oauth2_omniauth_authorize_path(invite_token: @token), class: 'popup btn btn-block btn-sm btn-googleplus-inversed' do %>
          <i class="fa fa-google-plus"></i>
          Use o Google+
        <% end %>
      </div>
    </div>

    <hr class="devider devider-dotted">

    <%= devise_error_messages_for_same_page(@sign_up_user) %>

    <label>Nome</label>
    <%= f.text_field :name, autofocus: true, class: 'form-control margin-bottom-20', placeholder: 'Nome completo' %>

    <label>E-mail <span class="color-red">*</span></label>
    <%= f.email_field :email, class: 'form-control margin-bottom-20', placeholder: 'Email Address' %>

    <div class="row">
      <div class="col-sm-6">
        <label>Senha <span class="color-red">*</span></label>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control margin-bottom-20' %>
      </div>
      <div class="col-sm-6">
        <label>Repita a senha <span class="color-red">*</span></label>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control margin-bottom-20', placeholder: 'Confirme sua senha' %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-12 text-right">
        <button class="btn-u" type="submit">Criar usuário</button>
      </div>
    </div>


<% end %>