<% content_for :title, 'Solicitar nova senha' %>

<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Login', new_user_registration_path %></li>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'reg-page' }) do |f| %>
    <div class="reg-header">
      <h2>Digite a sua nova senha</h2>
    </div>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "Nova Senha" %><br />
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres no mínimo)</em><br />
      <% end %>
      <%= f.password_field :password, class: 'form-control margin-bottom-20', autofocus: true, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirme a nova senha" %><br />
      <%= f.password_field :password_confirmation, class: 'form-control margin-bottom-20', autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: 'btn-u' %>
    </div>
<% end %>

<%= render "users/shared/links" %>
