<% content_for :title, 'Solicitar nova senha' %>

<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Login', new_user_registration_path %></li>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'reg-page' }) do |f| %>
    <div class="reg-header">
      <h2>Esqueceu a sua senha?</h2>
    </div>


    <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control margin-bottom-20' %>
  </div>

  <div class="actions">
    <%= f.submit "Me envie instruções para a troca da senha", class: 'btn-u' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
