<% content_for :title, 'Friends - List' %>
<% content_for :navbar do %>
    <li>
      <%= link_to admin_painel_path(memorial_id: @memorial.id) do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Friends', admin_memorial_friends_path(memorial_id: @memorial.id) %></li>
<% end %>

<% content_for :javascript_script_end_page do %>
    <script>
        $(".switch").bootstrapSwitch(
                {
                    onSwitchChange: function (event, state) {
                        obj_teste = this;
                        console.log(this.form.action);
                        $.ajax({
                            method: 'PUT',
                            url: this.form.action,
                            data: {
                                'admin': event.target.checked
                            },
                            dataType: 'json',
//                            success: function(data){
//                            },
                            error: function(data){
                                $(obj_teste).bootstrapSwitch('toggleState', true);
                            }
                        });
                    }
                }
        );
    </script>
<% end %>


<%= link_to 'Convidar um amigo ou familiar', admin_memorial_invites_path, class: 'btn-u' %>

<% @memorial_users.each do |memorial_user| %>
    <div class="media media-v2">
      <a class="pull-left" href="#">
        <% if memorial_user.user.image.url.nil? %>
            <%= image_tag 'no_image.svg', class: 'media-object rounded-x' %>
        <% else %>
            <%= image_tag memorial_user.user.image.public_url(:thumb), class: 'media-object rounded-x' %>
        <% end %>
      </a>

      <div class="media-body">
        <h4 class="media-heading">
          <strong><a href="#"><%= memorial_user.user.name %></a></strong> <%= memorial_user.user.email %>
          <small><%= h distance_of_time_in_words(DateTime.now, memorial_user.created_at, highest_measure_only: true, vague: true) %></small>
        </h4>
        <!--<ul class="list-inline results-list pull-left">
          <li><a href="#">25 Mensagens</a></li>
          <li><a href="#">10 Histórias</a></li>
        </ul>-->
        <ul class="list-inline pull-right">
          <li>
            <form action="<%=admin_memorial_memorial_user_path(memorial_id: memorial_user.memorial_id, id: memorial_user.id)%>" class="sky-form">
              Administrador?
              <input type="checkbox" <%=((memorial_user.admin?) ? 'checked' : '')%> data-toggle="toggle" data-size="mini" data-on-text="SIM" data-off-text="NÃO" class="switch" id="id_<%=memorial_user.id%>">
            </form>
          </li>
          <li>
            <%= link_to admin_memorial_memorial_user_path(memorial_user, memorial_id: @memorial.id), method: :delete, data: {confirm: 'Deseja remover este usuário?'} do %>
                <i class="expand-list rounded-x fa fa-trash-o"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
<% end %>