<div id="previewTemplatePhotoUpload" style="display: none;">
    <span>
        <img data-dz-thumbnail width="200"/>
    </span>
</div>

<div class="modal fade" id="modalChangeUserPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 id="myModalLabel1" class="modal-title">Trocar foto do memorial</h4>
      </div>
      <div class="modal-body">
        <form action="<%=admin_profile_upload_photo_path%>"
              class="dropzone"
              id="photoUploadModal" style="height: 350px">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          Nota: Pesquisar no dropzonejs como mostrar a imagem aqui, mostrar barra de progresso de upload, enviar o
          arquivo de foto e fechar o modal.
        </form>

      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn-u btn-u-blue" type="button">Cancelar</button>
        <button data-dismiss="modal" class="btn-u btn-u-green" type="button" onclick="myDropzoneObj.processQueue()">Salvar</button>
      </div>
    </div>
  </div>
</div>