<% content_for :title, 'My profile' %>
<% content_for :navbar do %>
    <li>
      <%= link_to root_path do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'My profile', admin_profile_edit_path %></li>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4 col-xs-2"></div>
      <div class="col-sm-4 col-xs-8">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img" data-toggle="modal" data-target="#modalChangeUserPhoto">
            <div class="overflow-hidden">
                  <%= image_tag current_user.image.public_url(:thumb), class: 'img-responsive' %>
            </div>
            <a class="btn-more hover-effect" href="#">
              <span class="item">
                <i class="fa fa-upload"></i>
                Trocar foto
              </span></a>
          </div>
        </div>
        <%= render partial: 'admin/profile/modal_change_user_photo', locals: {memorial: @memorial} %>
      </div>
      <div class="col-sm-4 col-xs-2"></div>
    </div>

    <%= form_for(@user, url: admin_profile_update_path, method: :put, html: {class: 'reg-page sky-form'}) do |f| %>
        <field>
          <section>
            <label>Usuário <span class="color-red">*</span></label>
            <%= f.text_field :username, class: 'form-control', placeholder: 'Usuário' %>
            <div class="note note-error">Usuário é obrigatório.</div>
          </section>

          <section>
            <label>Nome</label>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Usuário' %>
            <div class="note note-error" ng-show="name_profile_form.name.$invalid">Nome é obrigatório.</div>
          </section>

          <section>
            <label>Email Address <span class="color-red">*</span></label>
            <%= f.email_field :email, class: 'form-control', placeholder: 'E-mail' %>
            <div class="note note-error" ng-show="name_profile_form.email.$invalid">Email é obrigatório.</div>
          </section>

          <!--<label>Foto <span class="color-red">*</span></label>
          <div class="button"><input type="file" name="file" multiple="" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" placeholder="Include some file" readonly="">-->


          <section>
            <div class="row">
              <div class="col-sm-6">
                <label>Senha</label>
                <%= f.password_field :password, class: 'form-control', placeholder: 'Senha' %>
              </div>
              <div class="col-sm-6">
                <label>Repita a senha</label>
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Senha' %>
                <div class="note note-error" ng-show="name_profile_form.confirm_password.$invalid">Repita a senha.
                </div>
              </div>
            </div>
          </section>

          <label>Sobre mim</label>
          <%= f.text_area :about, rows: 7, class: 'form-control', placeholder: 'Sobre mim' %>

          <hr>

          <div class="row">
            <div class="col-lg-12 text-right">
              <button class="btn-u" type="submit">Salvar</button>
            </div>
          </div>
        </field>
    <% end %>
  </div>
</div>