/*

*= require dependecies/bootstrap_dependency

 *= require unify-v1.9.1/assets/css/style
 *
// CSS Header and Footer
 *= require unify-v1.9.1/assets/css/headers/header-default
 *= require unify-v1.9.1/assets/css/footers/footer-v1
 *
// CSS Header and Footer
 *= require unify-v1.9.1/assets/plugins/animate
 *= require unify-v1.9.1/assets/plugins/line-icons/line-icons
 *= require unify-v1.9.1/assets/plugins/owl-carousel/owl-carousel/owl.carousel
 *= require unify-v1.9.1/assets/plugins/layer-slider/layerslider/css/layerslider
 *= require unify-v1.9.1/assets/plugins/brand-buttons/brand-buttons.css
 *= require unify-v1.9.1/assets/plugins/brand-buttons/brand-buttons-inversed.css
 *= require unify-v1.9.1/assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css
 *= require unify-v1.9.1/assets/plugins/sky-forms-pro/skyforms/css/sky-forms
 *= require unify-v1.9.1/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css
 *= require unify-v1.9.1/assets/css/pages/profile.css

 *= require unify-v1.9.1/assets/css/pages/page_log_reg_v1
 *= require unify-v1.9.1/assets/css/pages/pricing/pricing_v1

 *= require unify-v1.9.1/assets/css/pages/page_404_error

// CSS Customization
 *= require unify-v1.9.1/assets/css/app
 *= require unify-v1.9.1/assets/css/custom

 *= require dropzone/dist/dropzone
 *= require dropzone/dist/basic
 *= require admin/dropzone


*= require admin/memorials
*= require bootsy
*= require unify-v1.9.1/E-Commerce/assets/plugins/jquery-steps/css/custom-jquery.steps.css
*= require shopping_cart/shop.style

*= require fonts/google_fonts

*= require unify-v1.9.1/E-Commerce/assets/css/app
*= require unify-v1.9.1/E-Commerce/assets/css/blocks
*= require unify-v1.9.1/E-Commerce/assets/css/plugins/style-switcher
*= require unify-v1.9.1/assets/css/app
*= require unify-v1.9.1/assets/css/blocks

*= require_self


*/

@import "font-awesome-sprockets";
@import "font-awesome";

.content-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

.breadcrumb li.active, .breadcrumb li a:hover, .breadcrumb li.active a {
  color: #72c02c;
  text-decoration: none;
}

div#error_explanation {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 20px;
  h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
  }
}

.help-block{
  color: #a94442;
}

a.btn-link-red,
a.btn-link-red:hover,
a.btn-link-red:visited {
  color: #a94442;
}

.navbar-brand {
  padding: 0px 15px;
}



.sky-form .toggle input:checked + i:after {
  content: 'SIM';
}
.sky-form .toggle i:after {
  content: 'NÃO';
}

.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}



p.new_memorial_action {
 padding-top: 40px;
 padding-bottom: 40px;
}