<div class="col-md-12">
  <%= simple_form_for @memorial, wrapper: :frontend_form, url: new_memorial_step2_path(anchor: 'new_memorial'), html: {class: 'sky-form'} do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :plan_id, value: params[:plan_id] %>
      <header>Preencha os dados do falecido</header>
      <fieldset>
        <section>
          <div class="row">
            <%= f.label :mmry_firstname, 'Homenageado', class: 'col-lg-2 col-md-3 control-label' %>
            <div class="col-lg-5 col-md-5">
              <%= f.input :mmry_firstname, placeholder: 'Nome' %>

              <!--<div class="note note-error">{{myForm.mmry_firstname.errorMsg}}</div>-->

            </div>
            <div class="col-lg-5 col-md-4">
              <%= f.input :mmry_lastname, placeholder: 'Sobrenome' %>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <%= f.label :mmry_gender, 'Sexo', class: 'col-lg-2 col-md-3 control-label' %>

            <div class="inline-group col-lg-10 col-md-9" style="height: 54px;">

              <label class="radio">
                <%= f.radio_button :mmry_gender, 'male' %>
                <i class="rounded-x"> </i>
                Masculino
              </label>
              <label class="radio">
                <%= f.radio_button :mmry_gender, 'female' %>
                <i class="rounded-x"> </i>
                Feminino
              </label>
              <%= f.error :mmry_gender %>

            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <%= f.label :mmry_birth_date, 'Data de nascimento', class: 'col-lg-2 col-md-3 control-label' %>

            <div class="col-lg-4 col-md-3">
              <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <%= f.text_field :mmry_birth_date, class: 'form-control', placeholder: 'Data de Nascimento' %>
                <%= f.error :mmry_birth_date %>
              </label>
            </div>
            <label for="mmry_death_date" class="col-lg-2 col-md-3 control-label">Data de Falecimento</label>

            <div class="col-lg-4 col-md-3">
              <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <%= f.text_field :mmry_death_date, class: 'form-control', placeholder: 'Data de Falecimento' %>
                <%= f.error :mmry_death_date %>
              </label>
            </div>
          </div>
        </section>


        <section>
          <div class="row">
            <%= f.label :mmry_birth_location, 'Local de nascimento', class: 'col-lg-2 col-md-3 control-label' %>

            <div class="col-lg-4 col-md-3">
              <%= f.input :mmry_birth_location, placeholder: 'Informe o local de nascimento' %>
            </div>
            <label for="death_place" class="col-lg-2 col-md-3 control-label">Local de falecimento</label>

            <div class="col-lg-4 col-md-3">
              <%= f.input :mmry_death_location, placeholder: 'Informe o local de nascimento' %>
            </div>
          </div>
        </section>


        <section>
          <div class="row">
            <%= f.label :mmry_cause_of_death, 'Causa da morte (opcional)', class: 'col-lg-2 col-md-3 control-label' %>

            <div class="col-lg-10 col-md-9">
              <%= f.input :mmry_cause_of_death, placeholder: 'Informe a causa da morte' %>
            </div>
          </div>
        </section>

      </fieldset>
      <fieldset>
        <div class="row">
          <div class="col-lg-12 text-left">
            <button class="btn-u" type="submit">Avançar</button>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>