<div class="col-md-12">
  <%= simple_form_for @memorial, wrapper: :frontend_form, url: new_memorial_step3_path(anchor: 'biografia_fotos', plan_id: params[:plan_id]), html: {class: 'sky-form'}, input_html: {multipart: true} do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :mmry_firstname %>
      <%= f.hidden_field :mmry_lastname %>
      <%= f.hidden_field :mmry_gender %>
      <%= f.hidden_field :mmry_birth_date %>
      <%= f.hidden_field :mmry_birth_location %>
      <%= f.hidden_field :mmry_death_date %>
      <%= f.hidden_field :mmry_death_location %>
      <header>Complete os dados do falecido</header>
      <fieldset>
        <section>
          <div class="row">
            <%= f.label :mmry_firstname, 'Homenageado', class: 'col-lg-2 col-md-3 control-label' %>
            <div class="col-lg-10 col-md-9">
              <%= @memorial.mmry_firstname %> <%= @memorial.mmry_lastname %>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <%= f.label :mmry_biografy, 'Biografia', class: 'col-lg-2 col-md-3 control-label' %>
            <div class="col-lg-10 col-md-9">
              <%= f.bootsy_area :mmry_biografy, placeholder: 'Preencha aqui a biografia', class: 'form-control', rows: 12, label: false, editor_options: {link: true, color: false, image: false} %>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <% i = 0 %>
            <%= f.fields_for :memorial_photos, :include_id => false do |f_photos| %>
                <% if f_photos.object.id.nil? %>
                    <% i += 1 %>
                    <%= f_photos.label :image, "Foto #{i}", class: 'col-lg-2 col-md-3 control-label' %>

                    <div class="inline-group col-lg-10 col-md-9" style="height: 54px;">
                      <label for="file" class="input input-file">
                        <div class="button">
                          <%= f_photos.file_field :image, onchange: "this.parentNode.nextSibling.nextSibling.value = this.value", accept: "image/*" %>
                          Browse
                        </div>
                        <input type="text" readonly="">
                      </label>
                    </div>
                <% end %>
            <% end %>
          </div>


          <div class="row">
            <% @memorial.memorial_photos.each do |memorial_photo| %>
                <% if !memorial_photo.id.nil? %>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                      <%= image_tag memorial_photos_image_path(id: memorial_photo.id, version: :thumb) %>
                      <br>
                      <%= link_to memorial_photos_image_remove_path(id: memorial_photo.id), class: 'btn btn-link btn-link-red' do %>
                          <i class="fa fa-remove"></i> Excluir
                      <% end %>
                    </div>
                <% end %>
            <% end %>
          </div>

        </section>

      </fieldset>
      <fieldset>
        <div class="row">
          <div class="col-lg-12 text-left">
            <button class="btn-u" type="submit">Criar memorial</button>
          </div>
        </div>
      </fieldset>
      </form>
      </div>
  <% end %>