<% if !@memorial.nil? %>
    <fieldset>
      <section>
        <div class="row">
          <label class="col-md-2 col-xs-6 control-label" for="name">Homenageado(a):</label>

          <div class="col-md-5 col-xs-6">
            <%= @memorial.title %>
          </div>
        </div>
        <div class="row">
          <label class="col-md-2 col-xs-3 control-label" for="name">Sexo:</label>

          <div class="col-md-5 col-xs-6">
            <%= @memorial.mmry_gender %>
          </div>
        </div>
        <div class="row">
          <label for="mmry_birth_date" class="col-md-2 col-xs-3 control-label">Data de nascimento</label>

          <div class="col-md-4 col-xs-3">
            <%= l(@memorial.mmry_birth_date) if @memorial.mmry_birth_date  %>
          </div>
          <label for="mmry_death_date" class="col-md-2 col-xs-3 control-label">Data de Falecimento</label>

          <div class="col-md-4 col-xs-3">
            <%= l(@memorial.mmry_death_date) if @memorial.mmry_death_date %>
          </div>
        </div>
        <div class="row">
          <label for="mmry_birth_location" class="col-md-2 col-xs-3 control-label">Local de nascimento</label>

          <div class="col-md-4 col-xs-3">
            <%= @memorial.mmry_birth_location %>
          </div>
          <label for="mmry_death_location" class="col-md-2 col-xs-3 control-label">Local de Falecimento</label>

          <div class="col-md-4 col-xs-3">
            <%= @memorial.mmry_death_location %>
          </div>
        </div>
        <% if !@memorial.mmry_cause_of_death.blank? %>
            <div class="row">
              <label for="mmry_cause_of_death" class="col-md-2 col-xs-6 control-label">Causa da morte</label>

              <div class="col-lg-10 col-md-9">
                <%= @memorial.mmry_cause_of_death %>
              </div>
            </div>
        <% end %>
      </section>
      <hr/>
      <section>
<% end %>
<div class="row pricing-table-v1 no-space-pricing">
  <% for plan in @memorial_plans %>
      <%
         cart_item = Financial::CartItem.new(
                 financial_cart_id: current_cart.id
         )
      %>
      <%= form_for cart_item do |f| %>
          <%= f.hidden_field :financial_cart_id %>
          <%= f.hidden_field :memorial_plan_id, value: plan.id %>
          <%= f.hidden_field :memorial_id, value: @memorial.id %>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="pricing-v1 pricing-v1-<%= plan.mmrl_plan_color %>">
              <div class="pricing-v1-head text-center">
                <h4><%= plan.mmrl_plan_title %></h4>
                <% if plan.discount? && plan.price_with_initial_discount != plan.mmrl_plan_price %>
                    <h4>De
                      <s><%= "#{number_to_currency(plan.mmrl_plan_price, unit: "", separator: ",", delimiter: "", precision: 2)}" %></s>
                      por</h4>
                <% else %>
                    <h4>&nbsp;</h4>
                <% end %>+
                <h5>
                  <span>R$</span><%= "#{number_to_currency(plan.price_with_initial_discount, unit: "", separator: ",", delimiter: "", precision: 2)}" %>
                  <i></i></h5>
              </div>
              <ul class="list-unstyled pricing-v1-content">
                <li><i class="fa fa-check-circle-o"></i><%= plan.mmrl_plan_photos_limit_str %> Fotos</li>
                <li><i class="fa fa-check-circle-o"></i><%= plan.mmrl_plan_videos_limit_str %> Vídeos</li>
                <% if !plan.mmrl_plan_support? %>
                    <li><i class="fa fa-times-circle" style="color: red;"></i>
                      <del>Online Support</del>
                    </li>
                <% else %>
                    <li><i class="fa fa-check-circle-o"></i>Online Support</li>
                <% end %>
              </ul>
              <div class="pricing-v1-footer">
                <button type="submit" class="btn-u btn-u-<%= plan.mmrl_plan_color %> btn-block text-center">Selecione
                  o Plano
                </button>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
</section>

</fieldset>