<div class="row">
  <div class="col-md-6">
    <div class="reg-header">
      <h6><%= current_user.name %></h6>
    </div>
    <bold>E-mail: </bold> <%= current_user.email %> </br></br>
  </div>
</div>


