<!DOCTYPE html>
<!--[if IE 8]>
<html lang="pt-BR" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="pt-BR" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-BR"> <!--<![endif]-->
<head>
  <title>Memorial Vivo de <%= @memorial.title %></title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Memorial vivo">
  <meta name="author" content="Augusto Cesar Batista Xavier">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">

  <!-- Web Fonts -->
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">-->
  <!-- fonts/google_fonts -->

  <%= csrf_meta_tags %>

  <meta property="fb:app_id" content="<%=ENV['FACEBOOK_KEY']%>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%=memorial_memorial_url(@memorial, protocol: 'https')%>"/>
  <meta property="og:title" content="Memorial Vivo de <%= @memorial.title %>"/>
  <meta property="og:description" content="<%= truncate(strip_tags(@memorial.social_description), length: 155, separator: ' ') %>"/>
  <meta property="og:image" content="<%= @memorial.social_thumb_url %>"/>
  <%= yield :head %>
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>


<div class="wrapper">
  <!--=== Header v7 Left ===-->
  <%= render partial: 'layouts/shared/memorial_site/header' %>
  <!--=== End Header v7 Left ===-->


  <div class="content-side-right">
    <%= yield %>
  </div>
</div>
<!--/wrapper-->

<%= javascript_include_tag('frontend/application_memorial', defer: true, async: true) %>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

<!-- Layout Unify -->
<%= stylesheet_link_tag 'memorial_site/application_memorial' %>
<%= yield :header_files %>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%=ENV['GA']%>', 'auto');
    ga('send', 'pageview');
    <%if !current_user.nil? %>
    ga('set', 'userId', '<%=current_user.id%>');
    <%end%>

</script>
</body>
</html>