<!DOCTYPE html>
<!--[if IE 8]>
<html lang="pt" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="pt" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt"> <!--<![endif]-->
<head>
  <title>Memorial Vivo</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Memorial vivo">
  <meta name="author" content="Augusto Xavier">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">

  <!-- Web Fonts -->
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">-->
  <!-- fonts/google_fonts -->


  <!-- Layout Unify -->
  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta property="fb:app_id" content="<%=ENV['FACEBOOK_KEY']%>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Memorial Vivo"/>
  <meta property="og:description" content="Mantenha viva, as lembranças de quem você ama! Cadastre o Memorial Vivo de quem não está mais entre nós, insira fotos e compartilhe para receber mensagens de afeto, ver quem visitou e receber notificações de datas importantes."/>
  <meta property="og:image" content="<%= image_url('logo.png') %>"/>
</head>
<body>


<div class="wrapper">
  <!--=== Header v1 ===-->
  <%= render partial: 'layouts/shared/site/header' %>
  <!--=== End Header v1 ===-->


  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><%= yield :title %></h1>
      <ul class="pull-right breadcrumb">
        <%= yield :navbar %>
      </ul>
    </div>
  </div>
  <!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="content">
    <div class="container content-md">
      <% if notice %>
          <div class="alert alert-success fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <%= notice %>
          </div>
      <% end %>
      <% if alert %>
          <div class="alert alert-danger fade in alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <%= alert %>
          </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <!--=== End Content ===-->
  <!--=== Footer Version 1 ===-->
  <div class="footer-v1">

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              <%= Date.today.year %> &copy; Todos os direitos reservados.
              <%= link_to 'Política de Privacidade', privacy_policy_url %>
              | <%= link_to 'Termos de Serviços', service_terms_url %>
            </p>
          </div>

          <!-- Social Links -->
          <div class="col-md-6">
            <ul class="footer-socials list-inline">
              <li>
                <a href="https://www.facebook.com/MemorialVivoApp/" class="tooltips" data-toggle="tooltip" data-placement="top" title="Página Oficial do Memorial Vivo no Facebook" data-original-title="Facebook" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <!--<li>
                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>-->
              <li>
                <a href="https://twitter.com/memorialvivoapp" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter Oficial do Memorial Vivo" data-original-title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social Links -->
        </div>
      </div>
    </div>
    <!--/copyright-->
  </div>
  <!--=== End Footer Version 1 ===-->
</div>
<!--/wrapper-->

<%= javascript_include_tag('frontend/application', defer: true) %>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

<%= yield :header_files %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%=ENV['GA']%>', 'auto');
    ga('send', 'pageview');
    <%if !current_user.nil? %>
    ga('set', 'userId', '<%=current_user.id%>');
    <%end%>

</script>
</body>
</html>