<!DOCTYPE html>
<!--[if IE 8]>
<html lang="pt-BR" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="pt-BR" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-BR"> <!--<![endif]-->
<head>
  <title>Memorial Vivo</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Memorial vivo">
  <meta name="author" content="ConectaCard">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">

  <!-- Web Fonts -->
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">-->
  <!-- fonts/google_fonts -->


  <!-- Layout Unify -->

  <%= stylesheet_link_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= yield :header_files %>
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta property="fb:app_id" content="<%=ENV['FACEBOOK_KEY']%>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Memorial Vivo"/>
  <meta property="og:description" content="Mantenha viva, as lembranças de quem você ama! Cadastre o Memorial Vivo de quem não está mais entre nós, insira fotos e compartilhe para receber mensagens de afeto, ver quem visitou e receber notificações de datas importantes."/>
  <meta property="og:image" content="<%= image_url('logo.png') %>"/>
</head>
<body>


<div class="wrapper">
  <!--=== Header v1 ===-->
  <%= render partial: 'layouts/shared/site/header' %>
  <!--=== End Header v1 ===-->


  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left">
        <% if @memorial.present? %>
            <%= @memorial.title %>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <% if @memorial.current_memorial_plan.mmrl_plan_free_default? %>
                <a class="btn-u btn-brd btn-brd-hover rounded btn-u-default" href="<%= admin_plans_select_plan_path(@memorial) %>">
                  <i class="fa fa-bell-o"></i>
                  Plano <%= @memorial.current_memorial_plan.mmrl_plan_title %>
                </a>
            <% else %>
                <a class="btn-u btn-brd btn-brd-hover rounded btn-u-default">
                  <i class="fa fa-bell-o"></i>
                  Plano Premium <%= @memorial.current_memorial_plan.mmrl_plan_title %>
                </a>
            <% end %>
        <% end %>
      </h1>
      <ul class="pull-right breadcrumb">
        <%= yield :navbar %>
      </ul>
    </div>
  </div>
  <!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->


  <div class="container content profile">
    <div class="row">

      <!--Left Sidebar-->
      <% if @memorial.present? %>

          <div class="col-md-3 md-margin-bottom-40">
            <div class="rows">
              <div class="col-sm-3 col-xs-2 visible-xs visible-sm"></div>
              <div class="col-md-12 col-sm-6 col-xs-8 thumbnails thumbnail-style text-center">

                <%= link_to memorial_memorial_path(@memorial) do %>
                    Clique aqui para visualizar
                <% end %>
                <div class="thumbnail" data-toggle="modal" data-target="#modalChangeMemorialMainPhoto">
                    <% if @memorial.present? && @memorial.photo.present? %>
                        <%= image_tag @memorial.photo.public_url(:thumb), class: 'img-responsive img-rounded img-center' %>
                    <% else %>
                        <%= image_tag 'no_image.svg', class: 'img-responsive profile-img margin-bottom-20' %>
                    <% end %>
                  <a class="btn-more hover-effect" href="#">
              <span class="item">
                <i class="fa fa-upload"></i>
                Trocar foto
              </span></a>
                </div>
              </div>
              <div class="col-sm-3 col-xs-2 visible-xs visible-sm"></div>
              <div class="col-sm-12 col-xs-12">
                Criado por: <%= @memorial.user.name %>
              </div>
            </div>

            <%= render partial: 'admin/memorials/modal_change_memorial_main_photo', locals: {memorial: @memorial} %>
            <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
              <%= raw menu_side_link_to 'Painel', 'fa-bar-chart-o', admin_painel_path(memorial_id: @memorial.id) %>
              <%= raw menu_side_link_to 'Biografia', 'fa-user', edit_admin_memorial_path(@memorial.id) %>
              <%= raw menu_side_link_to 'Fotos', 'fa-user', admin_memorial_photos_path(@memorial.id) %>
              <%= raw menu_side_link_to 'Amigos e familiares', 'fa-group', admin_memorial_friends_path(memorial_id: @memorial.id) %>
              <%= raw menu_side_link_to 'Convites', 'fa-group', admin_memorial_invites_path(memorial_id: @memorial.id) %>
              <% if Rails.env.development? %>
                  <%= raw menu_side_link_to 'Eventos', 'fa-calendar-check-o', admin_memorial_memorial_events_url(@memorial.id) %>
                  <%= raw menu_side_link_to 'Sobre o túmulo (Em breve)', 'fa-group', admin_orders_path %>
                  <%= raw menu_side_link_to 'Pedidos (Em breve)', 'fa-group', admin_orders_path %>
                  <%= raw menu_side_link_to 'Configurações (Em breve)', 'fa-group', admin_orders_path %>
              <% end %>
            </ul>

            <!--<div class="panel-heading-v2 overflow-h">-->
            <!--<h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Task Progress</h2>-->
            <!--<a href="#"><i class="fa fa-cog pull-right"></i></a>-->
            <!--</div>-->
            <!--<h3 class="heading-xs">Web Design <span class="pull-right">92%</span></h3>-->

            <!--<div class="progress progress-u progress-xxs">-->
            <!--<div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">-->
            <!--</div>-->
            <!--</div>-->
            <!--<h3 class="heading-xs">Unify Project <span class="pull-right">85%</span></h3>-->

            <!--<div class="progress progress-u progress-xxs">-->
            <!--<div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-blue">-->
            <!--</div>-->
            <!--</div>-->
            <!--<h3 class="heading-xs">Sony Corporation <span class="pull-right">64%</span></h3>-->

            <!--<div class="progress progress-u progress-xxs margin-bottom-40">-->
            <!--<div style="width: 64%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="64" role="progressbar" class="progress-bar progress-bar-dark">-->
            <!--</div>-->
            <!--</div>-->

            <!--<hr>-->

            <!--&lt;!&ndash;Notification&ndash;&gt;-->
            <!--<div class="panel-heading-v2 overflow-h">-->
            <!--<h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>-->
            <!--<a href="#"><i class="fa fa-cog pull-right"></i></a>-->
            <!--</div>-->
            <!--<ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark">-->
            <!--<li class="notification">-->
            <!--<i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-envelope"></i>-->

            <!--<div class="overflow-h">-->
            <!--<span><strong>Albert Heller</strong> has sent you email.</span>-->
            <!--<small>Two minutes ago</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="notification">-->
            <!--<img class="rounded-x" src="<%= image_path('unify-v1.9.1/assets/img/testimonials/img6.jpg') %>" alt="">-->

            <!--<div class="overflow-h">-->
            <!--<span><strong>Taylor Lee</strong> started following you.</span>-->
            <!--<small>Today 18:25 pm</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="notification">-->
            <!--<i class="icon-custom icon-sm rounded-x icon-bg-yellow icon-line fa fa-bolt"></i>-->

            <!--<div class="overflow-h">-->
            <!--<span><strong>Natasha Kolnikova</strong> accepted your invitation.</span>-->
            <!--<small>Yesterday 1:07 pm</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="notification">-->
            <!--<img class="rounded-x" src="<%= image_path('unify-v1.9.1/assets/img/testimonials/img1.jpg') %>" alt="">-->

            <!--<div class="overflow-h">-->
            <!--<span><strong>Mikel Andrews</strong> commented on your Timeline.</span>-->
            <!--<small>23/12 11:01 am</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="notification">-->
            <!--<i class="icon-custom icon-sm rounded-x icon-bg-blue icon-line fa fa-comments"></i>-->

            <!--<div class="overflow-h">-->
            <!--<span><strong>Bruno Js.</strong> added you to group chating.</span>-->
            <!--<small>Yesterday 1:07 pm</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="notification">-->
            <!--<img class="rounded-x" src="<%= image_path('unify-v1.9.1/assets/img/testimonials/img6.jpg') %>" alt="">-->

            <!--<div class="overflow-h">-->
            <!--<span><strong>Taylor Lee</strong> changed profile picture.</span>-->
            <!--<small>23/12 15:15 pm</small>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--<button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>-->
            <!--&lt;!&ndash;End Notification&ndash;&gt;-->

            <div class="margin-bottom-50"></div>

            <!--Datepicker-->
            <form action="#" id="sky-form2" class="sky-form">
              <div id="inline-start"></div>
            </form>
            <!--End Datepicker-->
          </div>
      <% end %>
      <!--End Left Sidebar-->

      <!--=== Content ===-->
      <div class="col-md-9" id="myContent">

        <% if notice %>
            <div class="alert alert-success fade in alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <%= notice %>
            </div>
        <% end %>
        <% if alert %>
            <div class="alert alert-danger fade in alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <%= alert %>
            </div>
        <% end %>
        <div class="profile-body">
          <div class="panel panel-profile">
            <div class="panel-body margin-bottom-50">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <!--=== End Content ===-->
    </div>
  </div>

  <!--=== Footer Version 1 ===-->
  <div class="footer-v1">
    <!--/footer-->

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
              <%= Date.today.year %> &copy; Todos os direitos reservados.
              <%= link_to 'Política de Privacidade', privacy_policy_url %>
              | <%= link_to 'Termos de Serviços', service_terms_url %>
            </p>
          </div>

          <!-- Social Links -->
          <div class="col-md-6">
            <ul class="footer-socials list-inline">
              <li>
                <a href="https://www.facebook.com/MemorialVivoApp/" class="tooltips" data-toggle="tooltip" data-placement="top" title="Página Oficial do Memorial Vivo no Facebook" data-original-title="Facebook" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/memorialvivoapp" class="tooltips" data-toggle="tooltip" data-placement="top" title="Twitter Oficial do Memorial Vivo" data-original-title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Social Links -->
        </div>
      </div>
    </div>
    <!--/copyright-->
  </div>
  <!--=== End Footer Version 1 ===-->
</div>
<!--/wrapper-->


<%= javascript_include_tag('admin/application') %>
<%= yield :javascript_script_end_page %>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%=ENV['GA']%>', 'auto');
    ga('send', 'pageview');
    <%if !current_user.nil? %>
    ga('set', 'userId', '<%=current_user.id%>');
    <%end%>

</script>
</body>
</html>