<% content_for :title, 'Login' %>
<% content_for :navbar do %>
    <li>
      <%= link_to :root do %>
          <i class="fa fa-home"></i>
      <% end %></li>
    <li class="active"><%= link_to 'Login', new_user_registration_path %></li>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'home/shared/sign_up' %>
  </div>
  <div class="col-md-6">
    <%= render partial: 'home/shared/sign_in' %>
  </div>
</div>
